@import "../../../scss/style.scss";

.about-me {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
  width: 100%;
  @media (max-width: $big-tablet) {
    grid-template-columns: 1fr;
    padding-top: 0;
  }
}

.text-about {
  order: 2;
  @media (max-width: $big-tablet) {
    order: 1;
  }
  @include section-text;
  .title {
    align-self: flex-start;
    width: calc(1em * 5.8);
    color: var(--color-gray);
    font-size: 4.625rem;
    text-align: start;
    text-transform: uppercase;
    @include title-effect;
  }

  .text {
    align-self: flex-start;
    p {
      font-size: 1.75rem;
    }
    @media (max-width: $big-tablet) {
      font-size: 1.5rem;
    }
  }
}

.my-photo {
  @media (max-width: $big-tablet) {
    order: 2;
  }
  @include flexbox;
  img {
    max-height: 60vh;
    margin-bottom: 128px;
    margin-bottom: 128px;
  }
}

.bg-title {
  @include background-title;
}
