@import '../../../../../scss/variables';
@import '../../../../../scss/mixins';
@import '../../../../../scss/animations';

.skill {
  cursor: pointer;
  @include corner-cut(15px, var(--color-primary), 2px, 14px);
  z-index: 10;
  backface-visibility: hidden;
  -webkit-font-smoothing: subpixel-antialiased;
  color: var(--color-primary);
  @include textglowsmall;
  border: 2px solid var(--color-primary);
  background-color: var(--color-border-transparent);
  font-weight: 600;
  display: grid;
  grid-template-columns: 0.2fr 1fr 0.2fr 0.2fr;
  grid-template-rows: 50px 1fr 1fr;
  width: 95%;
  min-height: 50px;
  max-height: 55px;
  flex: 1 0 auto;
  border-radius: 3px;
  transition: all var(--transition-short);
  transition-property: transform, height, max-height;
  position: relative;

  &:not(:last-child) {
    margin-bottom: 8px;
  }
  .icon {
    grid-column: 1/2;
    grid-row: 1/2;
    min-width: 50px;
    border-radius: 3px;
    @include flexbox;
    img {
      height: auto;
      max-width: 40px;
      max-height: 40px;
      width: 100%;
    }
    @media (max-width: $mobile) {
      min-width: 30px;
    }
  }
  .name {
    width: 100%;
    height: 50px;
    padding: 0 6px;
    font-size: 1.125rem;
    text-align: start;
    overflow: hidden;

    @include flexbox(flex-start);
    white-space: nowrap;

    text-overflow: ellipsis;
    @media (max-width: $laptop) {
      font-size: 1rem;
    }
    @media (max-width: $big-tablet) {
      font-size: 0.875rem;
    }
    @media (max-width: $mobile) {
      font-size: 0.75rem;
    }
    @media (max-width: $small-mobile) {
      font-size: 0.625rem;
    }
  }
  .manage-skill {
    height: 50px;
    color: var(--color-primary);
    min-width: 40px;
    font-weight: 400;
    font-size: 40px;
    grid-column: 4/5;
    grid-row: 1/1;
    align-self: center;
    @include flexbox;
    position: relative;
    background-color: #232323;
    p {
      margin: 0;
      padding: 0;
      line-height: 1;
    }
    &:hover {
      @include textglowsmall;
    }
    @media (max-width: $small-tablet) {
      font-size: 1.875rem;
      min-width: 30px;
    }
  }
  .level {
    cursor: help;
    color: black;
    height: 50px;
    min-width: 50px;
    text-align: center;
    display: grid;
    grid-column: 3/4;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    position: relative;
    background-color: var(--color-primary);
    clip-path: polygon(0% 0%, 100% 0, 100% 100%);
    align-self: flex-start;
    animation: slideinfromtop 0.3s;
    &-number {
      grid-area: 1/2;
      padding-right: 5px;
      padding-top: 5px;
      font-size: 18px;
    }
    @media (max-width: $mobile) {
      min-width: 35px;
      height: 35px;
      &-number {
        font-size: 12px;
      }
    }
  }
  &:hover {
    @include textglowsmall;
    transform: scale(1.05);
    box-shadow: inset 0 0 40px 1px rgb(136, 136, 136);
    .level {
      color: #fff;
    }
  }
}

.has-tooltip {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 0.2fr 1fr 0.2fr 0.2fr;
  height: 150px;
  max-height: 150px;
  transition: all var(--transition-short);
  transition-property: transform, height, max-height;
  .manage-skill {
    grid-column: 4/5;
    grid-row: 1/1;
  }

  .icon,
  .name {
    justify-self: start;
  }
}
