@import '../../../../../scss/style.scss';
.skill {
  @include corner-cut(20px, var(--color-primary), 4px, 17px, none);
  z-index: 10;
  background-color: var(--color-gray);
  @include flexbox(space-evenly);
  width: 100%;
  height: 50px;

  &:not(:last-child) {
    margin-bottom: 8px;
  }
  .icon {
    height: 100%;
    min-width: 50px;
    padding: 5px;
    @include flexbox;
    img {
      height: auto;
      max-width: 50px;
      max-height: 50px;
      width: 100%;
    }
  }
  .name {
    text-align: center;
    width: 100%;
    text-align: start;
  }
  .manage-skill {
    height: 100%;
    color: var(--color-primary);
    min-width: 50px;
    min-height: 50px;
    font-size: 2.25rem;
    background-color: var(--color-dark);
  }
  .level {
    color: var(--color-primary);
    width: 50px;
    height: 50px;
    text-align: center;
    @include flexbox;
    gap: 4px;
    padding: 10px;
    &-title {
      font-size: 10px;
    }
  }
}
