@import "../../../scss/variables.scss";
@import "../../../scss/mixins.scss";

.creator {
  position: relative;
  height: 100vh;
  overflow: hidden;
  background-color: #232323;
  scroll-snap-align: center;
  @include flexbox(center, center);

  &::before {
    content: "";
    position: absolute;
    min-width: 100%;
    height: 100%;
    background: url("../../../resources/img/hero3.webp");
    background-color: gray;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    filter: saturate(0.5) blur(3px);
    transition: all 3s 10s;
  }
  .skill-selector__col {
    position: relative;
    width: 50%;
    height: fit-content;
    @include flexbox;
    @media (max-width: $big-tablet) {
      z-index: 10;
      align-self: flex-end;
      width: 80vh;
      height: 60vh;
      padding-bottom: 3rem;
    }
  }
  .image-selector__col {
    width: 40%;
    height: 100%;
    @include flexbox;
    .image-selector {
      width: 280px;
      height: 100%;
      padding-top: 7rem;
      overflow: hidden;
      @include flexbox(null, flex-start);
    }
    @media (max-width: $big-tablet) {
      position: absolute;
      top: 0;
      z-index: 9;
      width: 100%;
      .image-selector {
        width: 340px;
      }
    }
  }
}
form {
  z-index: 999;
  color: #fff;
}
