@import "../../../../../scss/style.scss";
.cta-button {
  // border: 1px solid red;
}
.cta__text {
  position: relative;
  z-index: 9999;
  align-self: flex-end;
  width: 100%;
  color: var(--color-primary);
  font-weight: 500;
  font-size: 18px;
  text-transform: uppercase;
  cursor: default;
  transition: all var(--transition-short), color 0.1s, text-shadow 0.1s;
  transition-property: transform, opacity;
  @include flexbox(flex-end);

  span {
    &:first-child {
      align-self: flex-start;
      padding-right: 5px;
      font-weight: 700;
    }
  }
  .your-dev {
    color: var(--color-gray);
  }
}
