@import '../../../../scss/mixins.scss';
@import '../../../../scss/variables.scss';
@import '../../../../scss/animations.scss';

.character {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  @include flexbox;
  flex-direction: column;
  will-change: transform;

  gap: 1.5rem;
  transition: all var(--transition-short-medium);
  transition-property: transform, filter, width, z-index, margin, text-shadow;
  cursor: pointer;
  z-index: 10;
  position: absolute;
  transform-origin: center;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  will-change: transform, filter;
  &__name {
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: var(--color-gray);
    transition: all var(--transition-short);
    transition-property: transform, filter, color;
    @media (max-width: $big-tablet) {
      font-size: 1rem;
    }
    @media (max-width: $small-mobile) {
      font-size: 0.75rem;
    }
  }

  & img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;

    transition: all var(--transition-short);
    transition-property: transform, filter;
    filter: brightness(0.4);
  }

  &__front {
    color: var(--color-primary);
    width: 40%;
    z-index: 3;

    & img {
      filter: brightness(0.9);
    }
  }

  &__right {
    z-index: 2;
    width: 30%;
    margin-bottom: 9rem;
    // filter: blur(5px);
    transform: translateX(var(--characters-width));
    @media (max-width: $small-mobile) {
      margin-bottom: 5rem;
    }
    &:hover {
      filter: none;
    }
  }

  &__left {
    width: 32%;
    z-index: 1;
    margin-bottom: 8rem;
    // filter: blur(5px);
    transform: translateX(calc(var(--characters-width) * -1));
    @media (max-width: $small-mobile) {
      margin-bottom: 4rem;
    }
    &:hover {
      filter: none;
    }
  }

  [data-const-pos='2'] {
    filter: brightness(0.1) !important;
    &:hover {
      filter: brightness(0.1) drop-shadow(0 0 2px #fff) !important;
    }
  }
  [data-const-pos] {
    &:hover {
      filter: brightness(1);
      animation: jump 3s infinite;
      filter: drop-shadow(0 0 2px #fff);
    }
  }

  @media (max-width: $big-tablet) {
    transform-origin: bottom;
  }

  &:hover &__name {
    animation: jumpnorotate 3s infinite;
    color: var(--color-primary);
    @include textglowmedium;
  }
}

.blured {
  @media (min-width: $big-tablet) {
    filter: blur(5px);
  }
}

.selected {
  & img {
    filter: brightness(1);
  }
  &:hover img,
  &:hover .character__name {
    animation: none !important;
    filter: brightness(1);
  }
  //TODO test
  transform: scale(1.01);
  filter: drop-shadow(0 0 1px var(--color-primary)) blur(none);
}
