@import "../../../../scss/variables.scss";
@import "../../../../scss/mixins.scss";

.characters {
  position: relative;
  z-index: -10;
  align-self: end;
  width: 100%;
  height: 100%;
  transform-origin: bottom;
  transition: var(--transition-all-medium);
  transition-property: transform, opacity;
  @include flexbox;
}
.hidden {
  transform: translateX(50vw);
  opacity: 0;
}

.character-col {
  position: relative;
  justify-self: center;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  @include flexbox(space-around);
  @media (max-width: $big-tablet) {
    order: 2;
    width: 70%;
    height: 90%;
  }
}

.characters {
  z-index: -10;
  align-self: end;
  width: 100%;
  height: 100%;
  transform-origin: bottom;
  transition: var(--transition-all-medium);
  transition-property: transform, opacity;
  @include flexbox(null, flex-end);
  @media (max-width: $big-tablet) {
    width: 35vw;
    height: 30vh;
  }
  @media (max-width: $small-tablet) {
    width: 40vw;
    height: 40vh;
  }
  @media (max-width: $mobile) {
    width: 60vw;
    height: 40vh;
  }
}

//************************************************
//CTA
//************************************************

.character__overlay {
  @include flexbox;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  transition: all var(--transition-medium);
  transition-property: transform, opacity;

  &--hidden {
    transform: translateX(-100rem);
    transition-delay: var(--transition-short);
    animation: none;
  }

  .cta {
    @include flexbox;
    flex-direction: column;
    gap: 1.5rem;
    transform: scale(1);

    &__text {
      position: relative;
      z-index: 9999;
      align-self: flex-end;
      width: 100%;
      color: var(--color-primary);
      font-weight: 500;
      font-size: 18px;
      text-transform: uppercase;
      cursor: default;
      transition: all var(--transition-short), color 0.1s, text-shadow 0.1s;
      transition-property: transform, opacity;
      @include flexbox(flex-end);
      span {
        &:first-child {
          align-self: flex-start;
          padding-right: 5px;
          font-weight: 700;
        }
      }
      .your-dev {
        color: var(--color-gray);
      }
    }
  }
}
