@import '../../../../scss/mixins.scss';
@import '../../../../scss/variables.scss';
@import '../../../../scss/animations.scss';

.character {
  // width: 20%;
  // max-height: 50%;

  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  // object-fit: contain;
  // object-fit: cover;
  @include flexbox;
  flex-direction: column;

  gap: 1.5rem;
  transition: all var(--transition-short-medium) ease-in-out;
  transition-property: transform, filter, width, z-index;
  // height: 60%;
  // margin: auto 0;
  cursor: pointer;
  z-index: 10;
  position: absolute;
  // border: 1px solid red;
  // position: relative;
  transform-origin: center;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);

  &__name {
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    transition: all var(--transition-short);
    transition-property: transform, filter, color;
  }

  & img {
    max-width: 100%;
    max-height: 100%;
    // // height: auto;
    height: auto;
    width: auto;

    transition: all var(--transition-short);
    transition-property: transform, filter;
    filter: brightness(0.4);
    // &:hover {
    //   filter: brightness(0.5);
    //   // animation: jiggle 1s infinite;
    // }
  }

  &__front {
    color: var(--color-primary);
    // height: 100%;
    width: 30%;
    z-index: 2;
    & img {
      filter: brightness(0.9);
      // &:hover {
      //   filter: brightness(1);
      // }
    }
  }

  &__right {
    width: 15%;
    z-index: -2;
    transform: translateX(var(--characters-width));

    // &:hover img {
    //   // filter: brightness(0.5);
    // }
  }

  &__left {
    width: 20%;
    z-index: -1;
    transform: translateX(calc(var(--characters-width) * -1));
    // &:hover {
    //   transform: translateX(calc(var(--characters-width) * -1)) scale(1.1);
    //   filter: brightness(1);
    // }
  }
  // [data-character='0'] {
  //   &:hover {
  //     filter: brightness(0.4);
  //     animation: jump 3s infinite;
  //   }
  // }
  [data-const-pos='2'] {
    filter: brightness(0.1) !important;
    &:hover {
      filter: brightness(0.1) !important;
    }
  }
  [data-const-pos] {
    &:hover {
      filter: brightness(1);
      animation: jump 3s infinite;
    }
  }

  // &:hover .character__name {
  //   transform: scale(1.1);
  // }

  @media (max-width: $big-tablet) {
    transform-origin: bottom;
  }

  &:hover &__name {
    animation: jumpnorotate 3s infinite;
    color: var(--color-primary);
  }
  // &:hover img {
  //   filter: brightness(0.8);
  //   animation: jump 3s 0.3s infinite;
  // }
}

.selected {
  // max-height: 100%;
  & img {
    filter: brightness(1);
  }
  &:hover img,
  &:hover .character__name {
    animation: none !important;
    filter: brightness(1);
  }
  transform: scale(1.1);
  filter: drop-shadow(0 0 1px var(--color-primary));
}
