@import '../../../scss/mixins.scss';
@import '../../../scss/variables.scss';

.section-hero {
  padding-top: 4rem;
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: 1;
  overflow: hidden;
  // scroll-snap-align: start;
  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';

    background-image: url(../../../resources/img/hero8.webp);
    background-repeat: no-repeat;
    min-width: 100%;
    background-size: cover;
    background-position: center bottom;
    transform: scale(1.02);
    filter: brightness(0.8) saturate(0.6) blur(5px);
    transition: all var(--transition-medium);
    transition-property: filter;
    transition-delay: var(--transition-short);
  }
}

.character-selection {
  margin: 0 10%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  user-select: none;
  padding: 0 4rem;

  @media (max-width: $desktop) {
    margin: 0 5%;
  }
  @media (max-width: $laptop) {
    margin: 0;
  }

  @media (max-width: $big-tablet) {
    padding: 2rem 4rem;
    flex-direction: column;
    justify-content: center;
  }

  @media (max-width: $mobile) {
    padding: 1rem;
    gap: 2rem;
  }
}

.gray {
  transform: scale(1);

  &::before {
    transform: scale(1.02);
    filter: brightness(0.8) saturate(0.1);
  }
}
