@import '../../../scss/mixins.scss';
@import '../../../scss/variables.scss';

.section-hero {
  padding-top: 4rem;
  width: 100vw;
  // padding-right: 4rem;
  height: 100vh;
  position: relative;
  // background: var(--color-dark);
  // background: linear-gradient(
  //   -70deg,
  //   var(--color-dark) 30%,
  //   var(--color-dark-shade-1) 50%
  // );

  transition: all var(--transition-medium);
  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    content: '';
    background-image: url(../../../resources/img/hero6.jpg);
    filter: brightness(0.7);
    background-repeat: no-repeat;
    // background-size: 100vw 90vw;
    // background-origin: center;
    // background-size: auto 100%;
    min-width: 100%;
    // max-height: 100%;
    background-size: cover;
    // border: 1px solid red;
    // height: 100vw;
    // padding-top: 3%;
    // padding-bottom: 3%;
    // background-size: 100%;
    // background-position: 0 -450px;
    background-position: center bottom;
    filter: brightness(1) saturate(0.6) hue-rotate(350deg) blur(4px);
    transition: all var(--transition-medium);
    transform: scale(1.02);

    // @media (max-width: 1900px) {
    //   background-position: 0 -250px;
    // }
    @media (max-width: 1650px) {
      // background-position: 0 -150px;
      transform: scale(0.8);
    }
    // @media (max-width: $laptop) {
    //   background-position: 0 -100px;
    // }
  }
}

.character-selection {
  margin: 0 10%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  user-select: none;
  padding: 0 4rem;
  // padding: 8rem 4rem;
  // gap: 4rem;
  // border: 1px solid red;

  @media (max-width: $laptop) {
    margin: 0;
  }

  @media (max-width: $big-tablet) {
    padding: 2rem 4rem;

    flex-direction: column;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 3fr 2fr;
    justify-content: center;
  }

  @media (max-width: $mobile) {
    padding: 1rem;
    gap: 2rem;
  }
}

.gray {
  transform: scale(1);
  &::before {
    transform: scale(1.02);
    filter: brightness(0.8) saturate(0.1) hue-rotate(350deg);
  }
}
