// @import "../../../scss/mixins.scss";
// @import "../../../scss/variables.scss";
@import "../../../scss/style.scss";

.section-hero {
  position: relative;
  width: 100%;
  height: 100vh;
  // max-height: 100vh;
  padding: 0 8rem;
  overflow: hidden;
  // z-index: 1;

  @media (max-width: $desktop) {
    padding: 0 6rem;
    // width: 70%;
    // transform: rotateY(0deg);
  }
  @media (max-width: $laptop) {
    padding: 0 5rem;
    // width: 70%;
    // transform: rotateY(0deg);
  }
  @media (max-width: $big-tablet) {
    // width: 90%;
    padding: 0 3rem;
  }
  @media (max-width: $mobile) {
    padding: 0.375rem;
  }
  // background: linear-gradient(
  //   50deg,
  //   var(--color-dark-3) 30%,
  //   var(--color-blue-shade-1) 100%
  // );
  // &::before {
  //   content: "";
  //   position: fixed;
  //   top: 0;
  //   left: 0;
  //   z-index: -1;
  //   width: 100%;
  //   min-width: 100%;
  //   height: 100%;
  //   background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='29' height='50.115' patternTransform='scale(2) rotate(90)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0, 0%, 100%, 0)'/><path d='M14.498 16.858L0 8.488.002-8.257l14.5-8.374L29-8.26l-.002 16.745zm0 50.06L0 58.548l.002-16.745 14.5-8.373L29 41.8l-.002 16.744zM28.996 41.8l-14.498-8.37.002-16.744L29 8.312l14.498 8.37-.002 16.745zm-29 0l-14.498-8.37.002-16.744L0 8.312l14.498 8.37-.002 16.745z'  stroke-width='1.5' stroke='hsla(0, 0%, 0%, 1)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
  // }
  // &::before {
  //   content: "";
  //   position: fixed;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   min-width: 100%;
  //   height: 100%;
  //   background-image: url(../../../resources/img/hero8.webp);
  //   background-repeat: no-repeat;

  //   background-position: center bottom;
  //   background-size: cover;
  //   transform: scale(1.02);

  //   filter: brightness(0.8) saturate(0.1) blur(5px);
  //   transition: all var(--transition-medium);
  //   transition-delay: var(--transition-short);
  //   transition-property: filter;

  //   // @include mask-image($to: bottom, $percent: 70%);
  // }
}

// .character-selection {
//   display: flex;
//   align-items: center;
//   justify-content: space-around;
//   height: 100%;
//   margin: 0 10%;
//   padding: 0 4rem;
//   user-select: none;

//   @media (max-width: $desktop) {
//     margin: 0 5%;
//   }
//   @media (max-width: $laptop) {
//     margin: 0;
//   }
//   @media (max-width: $big-tablet) {
//     flex-direction: column;
//     justify-content: center;
//     padding: 2rem 4rem;
//   }
//   @media (max-width: $mobile) {
//     gap: 2rem;
//     padding: 1rem;
//   }
// }

.gray {
  transform: scale(1);

  &::before {
    transform: scale(1.02);
    // filter: brightness(0.8) saturate(0.1) blur(10px);
  }
}
