@import "../../../scss/style.scss";

.footer {
  position: relative;
  z-index: 2;
  flex-direction: column;
  height: 20vh;
  color: var(--color-gray-dark);
  font-size: 1rem;
  letter-spacing: 1px;
  @include flexbox(space-around);
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
  }
  .logo {
    grid-row: 1/1;
    filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.5));
    img {
      height: 100%;
      min-height: 70px;
    }
  }
  .contact {
    padding-right: 1rem;
    @media (max-width: $mobile) {
      grid-column: 1 / span 2;
    }
  }
  .copyright {
    @include flexbox;
    &:last-child p {
      padding-left: 10px;
    }
  }
  .col {
    @include flexbox(center, flex-start);
    flex-direction: column;
    gap: 0.5rem;
    justify-self: center;
    .title {
      font-weight: 700;
      text-transform: uppercase;
    }
    a {
      display: block;
      color: var(--color-gray);
      &:hover {
        color: var(--color-primary);
        @include textglowsmall;
      }
    }
  }
  .links-list {
    @include flexbox(null, flex-start);
    flex-direction: column;
    gap: 0.4375rem;
  }
  .link {
    @include flexbox(flex-start);

    gap: 0.3125rem;

    img {
      width: 24px;
      height: 24px;
      filter: grayscale(1) brightness(10) invert(1);
    }
  }
  .copyright {
    font-weight: 700;
  }
  @media (max-width: $big-tablet) {
    font-size: 0.875rem;
  }
  @media (max-width: $small-tablet) {
    font-size: 12px;
  }
  @media (max-width: $mobile) {
    height: 35vh;
    .wrapper {
      grid-template-columns: 1fr 1fr;
      gap: 1rem;
    }

    .col {
      justify-self: center;
    }

    .links {
      grid-row: 2/1;
      justify-self: flex-end;
      padding-right: 3rem;
    }
    .copyright {
      flex-direction: column;
      &:last-child p {
        padding-left: 0;
      }
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
  }
}
.footer--gray {
  &::before {
    filter: grayscale(1);
  }
}

.footer--creator {
  &::before {
    background: linear-gradient(190deg, #25292f 30%, #4b4e56 100%);
  }
}
.footer--about {
  &::before {
    background: linear-gradient(190deg, #2f3e42 30%, #252a2c 100%);
  }
}
