@import '../../../scss/variables';
@import '../../../scss/mixins';

.footer {
  position: relative;
  height: 20vh;
  color: var(--color-gray-dark);
  z-index: 1;
  @include flexbox(space-around);
  flex-direction: column;
  letter-spacing: 1px;
  font-size: 1rem;
  .wrapper {
    width: 100%;
    padding-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .logo {
    grid-row: 1/1;
    img {
      height: 100%;
      min-height: 70px;
    }
  }
  .contact {
    padding-right: 1rem;
    @media (max-width: $mobile) {
      grid-column: 1 / span 2;
    }
  }
  .copyright {
    @include flexbox;
    &:last-child p {
      padding-left: 10px;
    }
  }
  .col {
    @include flexbox(center, flex-start);
    flex-direction: column;
    justify-self: center;
    gap: 0.5rem;
    .title {
      font-weight: 700;
      text-transform: uppercase;
    }
    a {
      display: block;
      color: var(--color-gray);
      &:hover {
        color: var(--color-primary);
        @include textglowsmall;
      }
    }
  }
  .links-list {
    @include flexbox(null, flex-start);
    flex-direction: column;
    gap: 0.4375rem;
  }
  .link {
    @include flexbox(flex-start);

    gap: 0.3125rem;

    img {
      width: 24px;
      height: 24px;
      filter: invert(1);
    }
  }
  .copyright {
    font-weight: 700;
  }
  @media (max-width: $big-tablet) {
    font-size: 0.875rem;
  }
  @media (max-width: $small-tablet) {
    font-size: 12px;
  }
  @media (max-width: $mobile) {
    height: 35vh;
    .wrapper {
      grid-template-columns: 1fr;
      gap: 1rem;
    }

    .col {
      justify-self: flex-start;
      padding-left: 3rem;
    }

    .links {
      grid-row: 2/1;
      justify-self: flex-end;
      padding-right: 3rem;
    }
    .copyright {
      flex-direction: column;
      &:last-child p {
        padding-left: 0;
      }
    }
  }
}
