@import "../../../../scss/style.scss";
.text-about {
  @include section-text;
  .title {
    align-self: flex-start;
    width: calc(1em * 5.7);
    color: var(--color-gray);
    font-size: 74px;
    text-transform: uppercase;

    @include title-effect;
  }
  .text {
    align-self: flex-start;
  }
}
