@import "../../../../scss/style.scss";
.text-about {
  flex-direction: column;
  gap: 1rem;
  color: var(--color-gray);
  font-size: 44px;
  font-family: "Orbitron", sans-serif;
  // transform: rotateY(10deg);
  transform-origin: 0%;
  @include flexbox;

  .title {
    // @include textglowmedium;
    &-span {
      @for $i from 1 through 11 {
        span:nth-child(3n + #{$i}) {
          transition: all var(--transition-short);
          animation: lightpass 5s ease-in-out;
          animation-delay: calc(#{$i}ms);
        }
      }

      span {
        display: inline-block;
        width: fit-content;
        // height: fit-content;
        cursor: default;
        // transform: scale(1) !important;
        // transform-origin: center center;
        transition: all var(--transition-medium);
        user-select: none;
      }
      span:hover {
        transition: all 1ms;
        animation: lightpassshort 1.3s ease-in-out infinite;
      }
    }
    // content: "About me";
    align-self: flex-end;
    width: 420px;
    // width: 7rem;
    // padding-left: 30%;
    color: var(--color-gray);
    font-weight: 700;
    font-size: 74px;
    font-family: "Library3amsoft", sans-serif;
    line-height: 2;
    text-align: start;
    text-transform: uppercase;
    cursor: default;

    // animation: flicker4 8s infinite;
  }
  .text {
    // @include textglowsmall;

    font-family: "Jura", sans-serif;
    text-align: end;
  }
  @media (max-width: $laptop) {
    font-size: 36px;
    .title {
      font-size: 74px;
    }
  }
  @media (max-width: $big-laptop) {
    font-size: 36px;
    .title {
      font-size: 62px;
    }
  }
  @media (max-width: $big-laptop) {
    // font-size: 36px;
    .title {
      width: 350px;
      font-size: 62px;
    }
  }
  @media (max-width: $mobile) {
    font-size: 30px;
    .title {
      width: 250px;
      font-size: 44px;
    }
  }
}
