@import "../../../../scss/style.scss";

.project-carousel {
  position: relative;
  width: 50%;
  height: 70%;
  perspective: 400px;
  transition: all var(--transition-medium);

  @media (max-width: $big-tablet) {
    width: 90%;
    margin-top: 7rem;
  }
  @media (max-width: $mobile) {
    width: 95%;
    max-height: 50%;
    margin-top: 5rem;
  }
}
.project-preview {
  width: 100%;
  height: 100%;
  color: var(--color-border-transparent-3);
  transform: rotateY(-10deg);
  transition: all 3s ease-in-out;
  transition-delay: var(--transition-short-medium);
  transition-timing-function: ease-in-out;
  transition-duration: var(--transition-medium);
  &:hover {
    color: rgba(255, 255, 255, 0.503);
    // transform: rotateY(-5deg);
    transition: all var(--transition-short-medium) ease-in-out;
    transition-delay: 0;
    @supports not (backdrop-filter: blur(20px)) {
      background-color: rgba(70, 70, 70, 0.509);
    }
  }
}

.carousel-btn {
  position: absolute;
  top: 50%;
  z-index: 999;
  font-size: 6rem;
  background: none;
  border: none;
  transform: translateY(-50%);

  transition: all var(--transition-short);
  &:hover,
  &:focus {
    color: var(--color-primary);
    transform: translateY(-50%) scale(1.2);
  }
  &.prev {
    left: -2rem;
    transform: translateY(-50%) scale(1.2);
    &:hover,
    &:focus {
      transform: translateY(-50%) scale(1.4);
    }
  }
  &.next {
    right: 0;
  }

  @media (max-width: $mobile) {
    font-size: 4rem;
  }
}
.projects {
  width: 100%;
  height: 100%;
  list-style-type: none;
}

.hidden-left {
  transform: translateX(250%);
  @media (max-width: $big-tablet) {
    transform: translateX(-250%);
  }
}
.hidden {
  transform: translateX(150%) !important;
}
