@import "../../../../scss/style.scss";

.card {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  padding: 32px;
  // opacity: 0;
  transition: all var(--transition-medium-long);

  // transition-delay: var(--transition-short-medium);
  inset: 0;

  // &[data-active="true"] {
  //   z-index: 2;
  //   opacity: 1;
  // }
  @media (max-width: $laptop) {
    padding: 0 1rem;
  }
  // @media (max-width: $mobile) {
  //   padding: 0 1rem;
  // }
  &:hover {
    .img-mobile {
      transform: translateX(-10px) scale(1.05);
    }
  }
}
.not-active-r {
  z-index: 1;
  // transform: translateX(-500px);
  opacity: 0;
}
.not-active-l {
  z-index: 1;
  // transform: translateX(500px);
  opacity: 0;
}
.active {
  z-index: 2;
  // transform: translateX(-300px);
  opacity: 1;
}
.title {
  padding-bottom: 1rem;
  font-weight: 700;
  font-size: 2.25rem;
  @include textglowmedium;
  @media (max-width: $mobile) {
    font-size: 24px;
  }
}

.images-title {
  height: 60%;
}

.overview {
  flex-direction: column;
  // gap: 2rem;
  height: 40%;
  padding: 0 18px;
  color: var(--color-gray);
  // background-color: var(--color-border-transparent);
  @include corner-cut;

  @include flexbox(space-evenly);
  .description {
    font-size: 22px;
    @media (max-width: $big-tablet) {
      font-size: 30px;
    }
    @media (max-width: $small-tablet) {
      font-size: 24px;
    }
    @media (max-width: $mobile) {
      font-size: 16px;
    }
    @media (max-width: $small-mobile) {
      font-size: 14px;
    }
  }
  .stack {
    flex-direction: column;
    gap: 6px;
    align-self: flex-start;
    font-weight: 700;
    @include flexbox;
    &-items {
      display: grid;
      grid-template-rows: auto auto;
      grid-template-columns: auto auto;
      width: 100%;
      column-gap: 2rem;
      // @include flexbox(space-evenly);

      // flex-wrap: wrap;
      // max-width: 450px;

      // width: 400px;
      transition: all var(--transition-short-medium);
    }
    .created {
      font-size: 20px;
    }
    p {
      align-self: flex-start;
      font-size: 24px;
      white-space: nowrap;
      @media (max-width: $laptop) {
        font-size: 18px;
      }
      @media (max-width: $big-tablet) {
        font-size: 24px;
      }
      @media (max-width: $small-tablet) {
        font-size: 20px;
      }
      @media (max-width: $mobile) {
        font-size: 14px;
      }
    }
    li {
      display: block;
      gap: 4px;
      justify-self: start;
      padding-left: 2rem;
      @include flexbox;
      img {
        max-height: 24px;
        @media (max-width: $big-tablet) {
          max-height: 24px;
        }
        @media (max-width: $small-tablet) {
          max-height: 20px;
        }
        @media (max-width: $mobile) {
          max-height: 14px;
        }
      }
    }
  }
}

.images {
  // @include flexbox;
  position: relative;
  width: 100%;
  height: 50%;
  // height: 300px;
  @media (max-width: $big-tablet) {
    // max-width: 50%;
    // max-height: 250px;
  }
  img {
    // position: absolute;
    border-radius: 5px;

    // max-width: 500px;
    // max-height: 500px;
  }
  &:hover {
    .img-desktop {
      transform: scale(1.05);
      // transition: all var(--transition-medium) ease-in-out;
    }
    .img-mobile {
      transform: scale(1.1);
    }
  }
}

.img-desktop {
  top: 0rem;
  left: 0;
  max-width: 100%;
  min-height: 100%;
  // max-width: 550px;
  // max-width: 100%;
  // max-height: 400px;
  // max-height: 300px;
  transition: all var(--transition-short-medium) ease-in-out;
  @include mask-image;
}
.img-mobile {
  position: absolute;
  top: -3rem;
  right: 0;
  height: 150%;
  // max-height: 300px;
  filter: drop-shadow(10px 10px 30px #000);
  transition: all var(--transition-short-medium) ease-in-out;
}
