@import '../../../scss/mixins.scss';
@import '../../../scss/variables.scss';
.contact-me {
  height: 80vh;
  // background-color: rgb(55, 55, 55);
  background: url('../../../resources/img/hero8.webp');
  @include flexbox;

  .input {
    transition: all var(--transition-short);

    font-size: 1.25rem;
    font-family: inherit;
    // position: relative;
    background-color: var(--color-gray-tint-dark-transparent-1);
    border: none;
    outline: none;
    width: 300px;
    height: 50px;
    // border: 3px solid var(--color-primary);
    border-radius: 3px;
    color: var(--color-gray);
    padding: 1rem;
    font-weight: 500;
    // margin: 3rem;
    // box-shadow: 0 0 4px #fff, 0 0 11px var(--color-primary),
    //   0 0 19px var(--color-primary);
    &:hover,
    &:active {
      box-shadow: 0 0 4px var(--color-primary), 0 0 11px var(--color-primary),
        0 0 19px var(--color-primary);
      // background-color: rgba(255, 255, 255, 0.955);
      // color: #000;
      // border: 3px solid var(--color-primary);
    }
    &:focus {
      box-shadow: 0 0 1px 3px var(--color-primary);
      // border: 3px solid var(--color-primary);
    }
  }

  .container {
    perspective: 600px;
    transition: all var(--transition-short);
    transition-property: perspective;

    &:hover {
      // perspective: 1000px;
    }
    form {
      @include flexbox;
      flex-direction: column;
      gap: 1.5rem;
      padding: 4rem;
    }
    .labels {
      position: relative;
      width: 100%;
      padding-top: 1rem;
      @include flexbox(space-between);
    }

    .name-email,
    .name,
    .email {
      position: relative;
      @include flexbox;

      column-gap: 1.25rem;

      .name,
      .email {
        //TODO corner cut fix shadow
        flex-direction: column;
        // @include corner-cut(23px, var(--color-primary), 4px, 15px);
        &::after {
          left: calc(100% - 25px);
        }
        &.error-corner {
          // @include corner-cut(23px, red, 4px, 15px);

          &::after {
            left: calc(100% - 25px);
          }
        }
      }
    }

    .textfield {
      position: relative;
      width: 100%;
      height: 200px;

      //TODO
      // @include corner-cut(20px, var(--color-primary), 3px, 22px);
      // &.error-corner {
      //   @include corner-cut(20px, red, 3px, 26px);
      //   &::after {
      //     left: calc(100% - 22px);
      //   }
      // }
    }

    .label {
      font-size: 1.25rem;
      align-self: flex-start;
      text-transform: uppercase;
      font-weight: 700;
      padding: 10px;
      // z-index: 999;
      position: absolute;
      top: -5.5px;
      @include textglowsmaller;
      width: 100%;
      // color: red;
      // border: 1px solid red;
    }

    .label--error {
      @include textglowsmaller(red);
      // color: red;
    }

    textarea {
      transition: all var(--transition-short);
      font-family: inherit;
      font-size: 1.25rem;
      font-weight: 500;
      border: none;
      outline: none;
      width: 100%;
      height: 87%;
      // border: 3px solid var(--color-primary);
      resize: none;
      border-radius: 3px;
      // background-color: var(--color-gray-tint-dark);
      background-color: var(--color-gray-tint-dark-transparent-1);
      color: var(--color-gray);
      padding: 1rem;
      // @include corner-cut(20px, var(--color-primary), 4px, 28px);
      &.input-error {
        border: none;
        background-color: rgba(255, 0, 0, 0.168);
      }
      &:hover,
      &:active {
        box-shadow: 0 0 4px var(--color-primary), 0 0 11px var(--color-primary),
          0 0 19px var(--color-primary);
        // background-color: rgba(255, 255, 255, 0.955);

        // color: #000;
      }
      &:focus {
        box-shadow: 0 0 1px 3px var(--color-primary);
        // border: 3px solid var(--color-primary);
      }
    }
  }
  .form-error {
    color: red;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    position: absolute;
    right: 7px;
    bottom: -20px;
  }
  .input-error {
    // border: 3px solid red;
    box-shadow: 0 0 4px red, 0 0 11px red, 0 0 19px red !important;
    background-color: rgba(255, 0, 0, 0.168);
    &:hover,
    &:active {
      border: 3px solid red;
      box-shadow: 0 0 4px red, 0 0 11px red, 0 0 19px red !important;
    }
    &:focus {
      border: 3px solid red;
    }
  }

  // input:-webkit-autofill,
  // input:-webkit-autofill:hover,
  // input:-webkit-autofill:focus,
  // textarea:-webkit-autofill,
  // textarea:-webkit-autofill:hover,
  // textarea:-webkit-autofill:focus,
  // select:-webkit-autofill,
  // select:-webkit-autofill:hover,
  // select:-webkit-autofill:focus,
  // input:-webkit-autofill::first-line {
  //   -webkit-text-fill-color: var(--color-gray);
  //   -webkit-box-shadow: 0 0 0px 1000px var(--color-gray-tint-dark-transparent-1);

  //   transition: background-color 5000s ease-in-out 0s;
  // }
}
