@import '../../../scss/mixins.scss';
@import '../../../scss/variables.scss';
.contact-me {
  height: 80vh;
  background-color: gray;
  @include flexbox;

  input {
    font-size: 1.25rem;
    font-family: inherit;
    border: none;
    outline: none;
    width: 300px;
    height: 50px;
    border: 3px solid var(--color-primary);
    border-radius: 2px;
  }

  .container {
    form {
      @include flexbox;
      flex-direction: column;
      gap: 1.5rem;
    }
    .labels {
      position: relative;
      width: 100%;
      @include flexbox(space-between);
    }

    .name-email,
    .name,
    .email {
      position: relative;
      @include flexbox;

      column-gap: 1.25rem;

      .name,
      .email {
        flex-direction: column;
        @include corner-cut(20px, var(--color-primary), 4px, 15px);
        &::after {
          left: calc(100% - 25px);
        }
        &.error-corner {
          @include corner-cut(20px, red, 4px, 15px);
          &::after {
            left: calc(100% - 25px);
          }
        }
      }
    }

    .textfield {
      position: relative;
      width: 100%;
      height: 200px;
      @include corner-cut(20px, var(--color-primary), 4px, 26px);
      &.error-corner {
        @include corner-cut(20px, red, 4px, 26px);
        &::after {
          left: calc(100% - 25px);
        }
      }
    }

    label {
      font-size: 1.25rem;
      align-self: flex-start;
    }

    textarea {
      font-family: inherit;
      font-size: 1.25rem;
      border: none;
      outline: none;
      width: 100%;
      height: 87%;
      border: 3px solid var(--color-primary);
      resize: none;
      border-radius: 3px;
      @include corner-cut(20px, var(--color-primary), 4px, 28px);
      &.input-error {
        border: 3px solid red;
      }
    }
  }
  .form-error {
    color: red;
    font-size: 12px;
  }
  .input-error {
    border: 3px solid red;
  }
}
