@import '../../../scss/mixins.scss';
@import '../../../scss/variables.scss';
.contact-me {
  width: 100%;
  @include flexbox;

  .input {
    transition: all var(--transition-short);
    font-size: 1.25rem;
    font-family: inherit;
    background-color: var(--color-gray-tint-dark-transparent-1);
    border: none;
    outline: none;
    max-width: 300px;
    width: 100%;
    border-radius: 3px;
    color: var(--color-gray);
    padding: 1rem;
    font-weight: 500;
    &:hover,
    &:active {
      box-shadow: 0 0 4px var(--color-primary), 0 0 11px var(--color-primary),
        0 0 19px var(--color-primary);
    }

    &:focus {
      box-shadow: 0 0 1px 3px var(--color-primary);
    }
    @media (max-width: $mobile) {
      height: 40px;
    }
  }

  .container {
    transition: all var(--transition-short);
    transition-property: perspective;
    width: 100%;
    form {
      @include flexbox;
      flex-direction: column;
      gap: 1.5rem;
      @media (max-width: $mobile) {
        gap: 0.75rem;
      }
    }
    .labels {
      position: relative;
      width: 100%;
      padding-top: 1rem;
      @include flexbox(space-between);
    }

    .name-email,
    .name,
    .email {
      position: relative;
      @include flexbox;

      column-gap: 1.25rem;

      .name,
      .email {
        flex-direction: column;
        &::after {
          left: calc(100% - 25px);
        }
        &.error-corner {
          &::after {
            left: calc(100% - 25px);
          }
        }
      }
    }

    .textfield {
      position: relative;
      width: 100%;
      @media (max-width: $mobile) {
        height: 70px;
      }
    }

    .label {
      font-size: 1.25rem;
      align-self: flex-start;
      text-transform: uppercase;
      font-weight: 700;
      padding: 10px;
      position: absolute;
      top: -5.5px;
      @include textglowsmaller;
      width: 100%;
      @media (max-width: $big-tablet) {
        font-size: 1rem;
      }
      @media (max-width: $mobile) {
        font-size: 14px;
      }
    }

    .label--error {
      @include textglowsmaller(red);
    }

    textarea {
      transition: all var(--transition-short);
      font-family: inherit;
      font-size: 1.25rem;
      font-weight: 500;
      border: none;
      outline: none;
      width: 100%;
      height: 87%;
      resize: none;
      border-radius: 3px;
      background-color: var(--color-gray-tint-dark-transparent-1);
      color: var(--color-gray);
      padding: 1rem;
      &.input-error {
        border: none;
        background-color: rgba(255, 0, 0, 0.168);
      }
      &:hover,
      &:active {
        box-shadow: 0 0 4px var(--color-primary), 0 0 11px var(--color-primary),
          0 0 19px var(--color-primary);
      }
      &:focus {
        box-shadow: 0 0 1px 3px var(--color-primary);
      }
    }
  }
  .form-error {
    color: red;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    position: absolute;
    right: 7px;
    bottom: -30px;
    @include textglowsmaller(red);
  }
  .input-error {
    box-shadow: 0 0 4px red, 0 0 11px red, 0 0 19px red !important;
    background-color: rgba(255, 0, 0, 0.168);
    &:hover,
    &:active {
      box-shadow: 0 0 1px 3px red !important;
    }
    &:focus {
      box-shadow: 0 0 1px 3px red;
    }
  }
}
