@import "../../../../scss/style.scss";
.skills {
  flex-wrap: wrap;
  gap: 1rem;
  transform: perspective(1000px) scale3d(1, 1, 1) translate3d(0, 0, 0)
    rotate3d(0, 1, 0, -180deg);
  // padding: 5rem;
  transform: rotateY(-10deg);
  transform-origin: 100%;
  // transform-style: preserve-3d;
  transition: transform var(--transition-short-medium) ease-in-out;
  // @for $i from 1 through 11 {
  //   div:nth-child(3n + #{$i}) {
  //     animation: flip 1.3s forwards ease-in-out;
  //     animation-delay: calc(#{$i}00ms + #{$i}00ms);
  //   }
  // }
  @include flexbox;
  // @media (max-width: $desktop) {
  //   padding: 1rem;
  // }
  // &:hover {
  //   transform: rotateY(-5deg);
  // }
  @media (max-width: $big-tablet) {
    padding-right: 5rem;
    transform: rotateY(-5deg);
  }
  @media (max-width: $mobile) {
    padding: 0;
    font-size: 30px;
  }
  // @include mask-image($percent: 50%);
}
