// @import "../../../../scss/variables";
// @import "../../../../scss/animations";
// @import "../../../../scss/mixins";
@import "../../../../scss/style.scss";

.character-skills {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 100%;
  transition: var(--transition-short);
}

.skills-col {
  position: relative;
  // z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70vh;
  text-align: center;
  perspective: 400px;
  cursor: auto;
  user-select: none;

  @media (max-width: $big-laptop) {
    height: 60vh;
  }

  @media (max-width: $big-tablet) {
    align-self: center;
    width: 70vw;
    height: 70vh;
    padding: 0;
    transform: rotateY(0deg) !important;
  }
}

.skills-window {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 450px;
  min-width: 450px;
  height: 100%;
  color: var(--color-primary-transparent-3);
  background-color: rgba(95, 95, 95, 0.109);
  border: 1px solid var(--color-border-transparent);
  border-right: 7px solid var(--color-border-transparent);
  border-bottom: 5px solid var(--color-border-transparent);
  transform: rotateY(-10deg);
  transform-origin: 5%;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(30px);
  transition: all var(--transition-short-medium);
  transition-property: transform, opacity, background-color;
  @include corner-cut(63px, var(--color-border-transparent), 7px, 59px);
  @media (max-width: $big-tablet) {
    width: 100%;
    min-width: 90vw;
    height: 100%;
    transform: rotateY(0deg) !important;
    transform-origin: center !important;
  }
  @supports not (backdrop-filter: blur(20px)) {
    background-color: rgba(51, 51, 51, 0.509);
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    transform: translateZ(-10px);
    animation-fill-mode: both;
  }

  &:hover {
    color: var(--color-primary);
    // background-color: rgba(230, 230, 230, 0.102);
    .character-skills {
      scrollbar-width: 50px;
    }

    @supports not (backdrop-filter: blur(20px)) {
      background-color: rgba(70, 70, 70, 0.509);
    }
  }

  &__header {
    @include flexbox;
    position: relative;
    justify-content: space-between;
    width: 90%;
    height: 140px;
    margin: 1rem 1rem 0 1rem;
    color: var(--color-border-transparent);
    border: 2px solid var(--color-border-transparent);
    border-radius: 3px;
    @include corner-cut(30px, var(--color-border-transparent), 2px, 29px);
  }

  @media (max-width: $big-tablet) {
    transform: rotateY(0);
  }
}
.header-wrapper {
  @include flexbox;
  position: absolute;
  width: 100%;
  transition: transform var(--transition-short);
}

.skills-text {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  height: 100%;
  padding: 3.875rem;
  font-weight: 700;
  font-size: 48px;
  text-align: center;
  text-transform: uppercase;
  transition: all var(--transition-short-medium);
  transition-property: transform, opacity;
  @include textglow;
  &:hover {
    @include textglow;
  }
  strong {
    position: relative;
    z-index: 999;
    display: block;
    font-size: 48px;
    transition: all var(--transition-medium);
    transition-property: transform, opacity;
    animation: flickerrev 5s infinite alternate;
  }

  @media (max-width: $small-tablet) {
    font-size: 30px;
  }
  @media (max-width: $mobile) {
    padding: 0;
    font-size: 24px;
    strong {
      font-size: 44px;
    }
  }
}

.s-window:hover .skills-text:not(.abs-up) {
  strong {
    animation: none;
    @include textglow;
  }
}
.skills-list {
  position: absolute;
  display: grid;
  flex-direction: column;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  width: 100%;
  padding: 0 2rem;
  padding-top: 1rem;
  padding-bottom: 2rem;
  text-transform: capitalize;
  list-style: none;
  transition: all var(--transition-short-medium);
  transition-property: transform, opacity;
  &--text {
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 0 6rem;
    font-weight: 700;
    font-size: 2.75rem;
    line-height: 1.5;
    text-transform: uppercase;
    transition: all var(--transition-short);
    transition-property: color, text-shadow;
    @include textglow;

    strong {
      font-size: 3.25rem;
      word-break: keep-all;
    }
    &:hover {
      strong {
        color: #fff;
      }
    }

    @include flexbox;

    @media (max-width: $big-tablet) {
      font-size: 36px;
      strong {
        font-size: 44px;
      }
    }
    @media (max-width: $mobile) {
      font-size: 30px;
      strong {
        font-size: 36px;
      }
    }
    @media (max-width: $small-mobile) {
      font-size: 24px;
      strong {
        font-size: 30px;
      }
    }
  }
  @media (max-width: $big-tablet) {
    @include flexbox;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.skill-char-col {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  transition: all var(--transition-short-medium);
  transition-property: transform, opacity;
  overscroll-behavior: contain;
  @include scrollbar(var(--color-primary));
  // &::-webkit-scrollbar {
  //   // display: none;
  // }
  @include flexbox(center, flex-start);
  &[data-character="0"] {
    position: absolute;
    transform: translate(-500px);
    opacity: 0;
    animation: none;
  }

  &[data-character="1"] {
    position: absolute;
    z-index: 999;
    transform: translate(0px);
    animation: blink 0.7s;
  }

  &[data-character="2"] {
    position: absolute;
    transform: translate(500px);
    opacity: 0;
    animation: none;
  }
}

.skills-list-name {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: var(--color-border-transparent);
  font-weight: 700;
  font-size: 32px;
  text-transform: uppercase;
  h2 {
    transition: all var(--transition-short);
    transition-property: text-shadow, color;
  }
  @media (max-width: $small-tablet) {
    font-size: 1.5rem;
  }
  @media (max-width: $mobile) {
    font-size: 14px;
  }
}
.glow {
  @include textglow;
}
.glowsmall {
  @include textglowsmall;
}

.skills-card {
  flex-direction: column;
  width: 100%;
  height: 100%;
  transition: all var(--transition-short-medium);
  transition-property: transform, opacity, filter;
  @include flexbox;
}

.character-level {
  position: relative;
  flex-direction: column;
  height: 6rem;
  margin: 19px 16px;
  padding: 1rem;
  overflow: hidden;
  border: 2px solid var(--color-border-transparent);
  border-radius: 3px;
  cursor: help;
  transition: all var(--transition-short);
  transition-property: color, text-shadow;
  @include flexbox(space-between);
  @include corner-cut(20px, var(--color-border-transparent), 2px, 19px);
  &__level-title {
    font-weight: 700;
    text-transform: uppercase;
  }
  &__level-number {
    position: absolute;
    top: -10%;
    right: 50%;
    bottom: 15px;
    left: 50%;
    flex-grow: 0;
    flex-shrink: 0;
    width: 5rem;
    font-weight: 700;
    font-size: 2.5rem;

    transition: all var(--transition-short-medium);
    transition-property: transform, opacity;
    &[data-character="0"] {
      transform: translate(-170%, 50%);
      opacity: 0;
    }
    &[data-character="1"] {
      transform: translate(-50%, 50%);
    }
    &[data-character="2"] {
      transform: translate(70%, 50%);
      opacity: 0;
    }
  }
  @media (max-width: $big-tablet) {
    height: 5rem;
    padding: 0.3125rem;
    &__level-number {
      bottom: 7px;
      font-size: 1.75rem;
    }
    &__level-title {
      font-size: 12px;
    }
  }
  @media (max-width: $mobile) {
    height: 4rem;
    &__level-number {
      bottom: 4px;
      font-size: 1.375rem;
    }
    &__level-title {
      font-size: 10px;
    }
  }
}

.character-levels {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5rem;
}

.abs-down {
  transform: translate(0, 110%);
}

.abs-up {
  transform: translate(0, -110%);
}

.selected--skills {
  background-color: #e5e5e51a;
  border-radius: 3px;
  transform: rotateY(-5deg) scale(1.1) !important;
  &:first-child {
    color: var(--color-primary);
  }
  @media (max-width: $big-tablet) {
    transform: scale(1) !important;
  }
  @supports not (backdrop-filter: blur(20px)) {
    background-color: rgba(51, 51, 51, 0.509);
  }
}

.tooltip-open {
  transform: translateY(-130px);
}
