@import "../../../scss//style.scss";

.background {
  // position: absolute;
  position: relative;
  width: 100%;
  height: 100%;
  overflow-x: hidden;

  scroll-snap-type: y mandatory;
  // height: 100%;
  // right: 0;
  // bottom: 100vh;
  // left: 0;
  // // z-index: 100;
  // width: 100%;
  // min-width: 100%;
  // height: 100vh;
  // background-image: url(../../../resources/img/hero8.webp);
  // background-repeat: no-repeat;
  // background-position: center bottom;
  // background-size: cover;
  // // background-size: contain;
  // background-attachment: fixed;
  // border: 1px solid red;
  // height: fit-content;
  // transform: scale(1.02);
  // filter: brightness(0.8) saturate(0.1) blur(5px);
  // transition: all var(--transition-medium);
  // transition-delay: var(--transition-short);
  // transition-property: filter;
  .bg-container {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // background-image: radial-gradient(
    //   rgba(255, 255, 255, 0.1) 9%,
    //   transparent 9%
    // );
    // background-position: 50% 50%;
    // background-size: var(--vmin);
    // transform-origin: center;
    // opacity: var(--dot-opacity);
    // transition: all var(--transition-medium-long);
    // border: 1px solid red;
  }
  .bg-img {
    // content: "";
    position: fixed;
    top: 0;
    // left: 0;
    width: 100%;
    min-width: 100%;
    height: 1000px;
    background-image: radial-gradient(
      rgba(255, 255, 255, 0.1) 9%,
      transparent 9%
    );
    background-position: var(--dot-position);
    // background-image: url(../../../resources/img/hero8.webp);

    // background-repeat: no-repeat;

    // background-position: 50% 50%;
    background-size: var(--vmin);
    // background-position: center bottom;
    // background-size: cover;

    // background-size: contain;
    background-attachment: scroll;
    transform-origin: center;
    opacity: var(--dot-opacity);
    // background-attachment: scroll;
    // border: 1px solid red;
    // transform: scale(1.02);
    //var(--blur)
    filter: brightness(0.8) var(--saturation);
    transition: all var(--transition-medium-long);
    transition-delay: var(--transition-short);
    // transition-property: filter;

    @include mask-image($to: bottom, $percent: 70%);
  }
}
