@import "./variables";
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 100%;
  // outline: 1px solid red;
}
// html:focus-within {
//   scroll-behavior: smooth !important;
// }
a {
  color: inherit;
  text-decoration: inherit;
}
// html {
//   overflow: hidden;
// }

html,
body {
  position: relative;
  // font-weight: 600;
  // font-family: 'Orbitron', sans-serif;
  overflow-x: hidden;
  font-family: "Orbitron", sans-serif;
  font-family: "Jura", sans-serif;
  // font-family: "Audiowide", sans-serif;
  // transition: all var(--transition-medium) ease-in-out;
  scroll-behavior: smooth;
  // background: linear-gradient(
  //   60deg,
  //   var(--color-dark-3) 30%,
  //   var(--color-blue-shade-1) 100%
  // );
  // font-family: "Quantico", sans-serif;

  // background-color: var(--color-dark);
  // background-color: #232323;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    var(--gradient-deg),
    var(--color-dark-3) 30%,
    var(--color-blue-shade-1) 100%
  );
  filter: var(--body-grayscale);
  transition: all 3s;
  transition-property: filter;
}
body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  min-width: 100%;
  height: 100%;
  // background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='29' height='50.115' patternTransform='scale(2) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0, 0%, 100%, 0)'/><path d='M14.498 16.858L0 8.488.002-8.257l14.5-8.374L29-8.26l-.002 16.745zm0 50.06L0 58.548l.002-16.745 14.5-8.373L29 41.8l-.002 16.744zM28.996 41.8l-14.498-8.37.002-16.744L29 8.312l14.498 8.37-.002 16.745zm-29 0l-14.498-8.37.002-16.744L0 8.312l14.498 8.37-.002 16.745z'  stroke-width='1' stroke='hsla(231, 23%, 17%, 1)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
  // background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='29' height='50.115' patternTransform='scale(2) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0, 0%, 100%, 0)'/><path d='M14.498 16.858L0 8.488.002-8.257l14.5-8.374L29-8.26l-.002 16.745zm0 50.06L0 58.548l.002-16.745 14.5-8.373L29 41.8l-.002 16.744zM28.996 41.8l-14.498-8.37.002-16.744L29 8.312l14.498 8.37-.002 16.745zm-29 0l-14.498-8.37.002-16.744L0 8.312l14.498 8.37-.002 16.745z'  stroke-width='1' stroke='hsla(227, 17%, 16%, 1)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
  // background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='29' height='50.115' patternTransform='scale(2) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0, 0%, 100%, 0)'/><path d='M14.498 16.858L0 8.488.002-8.257l14.5-8.374L29-8.26l-.002 16.745zm0 50.06L0 58.548l.002-16.745 14.5-8.373L29 41.8l-.002 16.744zM28.996 41.8l-14.498-8.37.002-16.744L29 8.312l14.498 8.37-.002 16.745zm-29 0l-14.498-8.37.002-16.744L0 8.312l14.498 8.37-.002 16.745z'  stroke-width='1' stroke='hsla(0, 0%, 0%, 1)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
  // background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='40' height='40' patternTransform='scale(2) rotate(45)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0, 0%, 100%, 0)'/><path d='M15 5h10v30H15zM35-5V5H5V-5zM35 35v10H5V35zM35-15h10v30H35zM55 15v10H25V15zM15 15v10h-30V15zM35 25h10v30H35zM-5 25H5v30H-5zM-5-15H5v30H-5z'  stroke-width='1' stroke='hsla(0, 0%, 0%, 1)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
  // background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='40' height='69.282' patternTransform='scale(3) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0, 0%, 0%, 0)'/><path d='M13.333-3.849v23.094M6.667-15.396l20 11.547M13.333-19.245l20 11.547M20 0v23.094m20-34.641l-6.667 3.849-6.666 3.849L20 0M0-11.547l6.667 3.849 6.666 3.849L20 0m0-23.094l20 11.547v23.094L20 23.094l-6.667-3.849-6.666-3.849L0 11.547v-23.094l6.667-3.849 6.666-3.849zM40-3.769L20 7.698m20-3.849l-16.253 9.384L20 15.396M6.667-7.698v23.094m6.666 50.037v23.094M6.667 53.886l20 11.547M13.333 50.037l20 11.547M20 69.282v23.094m20-34.641l-6.667 3.849-6.666 3.849L20 69.282M0 57.735l6.667 3.849 6.666 3.849L20 69.282m0-23.094l20 11.547v23.094L20 92.376l-6.667-3.849-6.666-3.849L0 80.829V57.735l6.667-3.849 6.666-3.849zm20 19.325L20 76.98m20-3.849L20 84.678M6.667 61.584v23.094m26.666-53.886v23.094m-6.666-34.641l20 11.547M33.333 15.396l20 11.547M40 34.641v23.094m20-34.641l-6.667 3.849-6.666 3.849L40 34.641M20 23.094l6.667 3.849 6.666 3.849L40 34.641m0-23.094l20 11.547v23.094L40 57.735l-6.667-3.849-6.666-3.849L20 46.188V23.094l6.667-3.849 6.666-3.849zm20 19.325L40 42.339m20-3.849L40 50.037M26.667 26.943v23.094M-6.667 30.792v23.094m-6.666-34.641l20 11.547M-6.667 15.396l20 11.547M0 34.641v23.094m20-34.641l-6.667 3.849-6.666 3.849L0 34.641m-20-11.547l6.667 3.849 6.666 3.849L0 34.641m0-23.094l20 11.547v23.094L0 57.735l-6.667-3.849-6.666-3.849L-20 46.188V23.094l6.667-3.849 6.666-3.849zm20 19.325L0 42.339m20-3.849L0 50.037m-13.333-23.094v23.094'  stroke-width='0.5' stroke='hsla(0, 0%, 0%, 1)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
  // background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='45' height='51.96' patternTransform='scale(2) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0, 0%, 100%, 0)'/><path d='M52.48 44.47a15 15 0 01-14.96 0 15 15 0 00-7.48 12.96M7.48 44.42a15 15 0 01-14.96 0M15 57.44c0-5.35-2.9-10.35-7.52-13.02a15 15 0 017.48-12.97M7.48 18.5a14.97 14.97 0 01-14.98-.03m15.02-.03A15 15 0 0115 5.47a15 15 0 00-4.4-10.62m23.8.05A15 15 0 0030 5.53a15 15 0 017.48 12.96 14.9 14.9 0 0015.02-.03m-22.5 13a15.13 15.13 0 017.52 13.01m-7.56-39a15 15 0 01-14.96 0M7.48 18.5a15 15 0 017.48 12.96 15 15 0 0015.04 0 15 15 0 017.48-12.96'  stroke-width='0.5' stroke='hsla(0, 0%, 0%, 1)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
  // background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='200' height='100' patternTransform='scale(1) rotate(45)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0, 0%, 100%, 0)'/><path d='M175 43.75h20.63l-3.76-7.52h-13.11zM47.95 14.65l-4.2-8.4-11.23 22.46h8.4zm106.13 29.1h8.42l-10.42-20.48-4.12 8.23zm-56.13-29.1l-4.2-8.4L82.5 28.71h8.41zM116.87 0l3.76 7.52h13.11L137.5 0zM8.42 0H0l10.42 20.48 4.12-8.23zm56.13 29.1l4.2 8.4L80 15.04h-8.41zM158.41 0h-8.42l10.42 20.48 4.12-8.23zM175 93.75h20.63l-3.76-7.52h-13.11zm-120.91 0h8.42L52.09 73.27l-4.12 8.23zm93.86-29.1l-4.2-8.4-11.24 22.46h8.4zm-52.33 29.1l-3.76-7.52h-13.1l-3.77 7.52zM108.42 50h-8.43l10.42 20.48 4.12-8.23zM14.54 79.1l4.2 8.4L30 65.04h-8.4zM66.88 50l3.76 7.52h13.1L87.52 50zm97.67 29.1l4.2 8.4 11.23-22.46h-8.4z'  stroke-width='1' stroke='none' fill='hsla(254, 25%, 10%, 1)'/><path d='M190.93 28.71l7.02-14.05-4.2-8.41-11.23 22.46zM28.76 36.23L25 43.75h20.63l-3.76-7.52zm103.75-7.52h8.4l7.04-14.05-4.2-8.41zm-30.43-5.44l-4.12 8.23 6.13 12.25h8.41zm8.33-2.79l4.12-8.23L108.41 0H100zM30 15.04h-8.4l-7.04 14.05 4.2 8.41zm53.76-7.52L87.5 0H66.88l3.76 7.52zm96.23 7.52h-8.4l-7.03 14.05 4.2 8.41zm10.95 63.67l7.02-14.05-4.2-8.41-11.23 22.46zm-158.41 0h8.4l7.03-14.05-4.2-8.41zm96.23 7.52L125 93.75h20.63l-3.76-7.52zm-26.67-12.96l-4.12 8.23 6.13 12.25h8.41zm31.66-15.75L137.5 50h-20.63l3.76 7.52zM10.42 70.48l4.12-8.23L8.42 50H0zm69.57-5.44h-8.41l-7.03 14.05 4.2 8.41zm80.42 5.44l4.12-8.23L158.41 50h-8.42z'  stroke-width='1' stroke='none' fill='hsla(211, 33%, 19%, 1)'/><path d='M197.97 31.5l2.03 4.07v-8.13zM4.09 43.75h8.42L2.09 23.27 0 27.44v8.13zm50 0h8.42L52.09 23.27l-4.12 8.23zm91.53 0l-3.76-7.52h-13.1l-3.77 7.52zm-50 0l-3.76-7.52h-13.1l-3.77 7.52zm18.93-14.66l4.2 8.41 11.23-22.46h-8.4zM16.88 0l3.76 7.52h13.1L37.52 0zM58.4 0H50l10.42 20.48 4.12-8.23zm108.46 0l3.76 7.52h13.11L187.5 0zM200 77.44l-2.03 4.06 2.03 4.07zM4.1 93.75h8.4L2.1 73.27 0 77.44v8.13zm41.53 0l-3.76-7.52H28.76L25 93.75zm108.45 0h8.42l-10.42-20.48-4.12 8.23zm-56.13-29.1l-4.2-8.4L82.5 78.71h8.41zm16.6 14.44l4.2 8.41 11.23-22.46h-8.4zM16.88 50l3.76 7.52h13.1L37.52 50zm41.53 0H50l10.42 20.48 4.12-8.23zm108.46 0l3.76 7.52h13.11L187.5 50z'  stroke-width='1' stroke='none' fill='hsla(199, 44%, 31%, 1)'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
  // background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='72.69' height='42' patternTransform='scale(1) rotate(60)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0, 0%, 100%, 0)'/><path d='M0 0v9.09l19.4 11.2 4.83-2.8 3.03-5.24v-5.6L15.72 0Zm28.48 0v16.45L9.09 27.66v5.59l3.02 5.25 4.84 2.8 19.4-11.22L55.73 41.3l4.83-2.8 3.03-5.25v-5.58l-19.4-11.2V0Zm28.48 0L45.43 6.66v5.59l3.03 5.25 4.83 2.79 19.4-11.2V0ZM0 12.25V42h15.74l-7.87-4.55v-22.4l-4.84-2.8Zm69.66 0-4.84 2.8v22.4L56.95 42H72.7V12.25Zm-36.34 21-4.84 2.8V42H44.2v-5.96l-4.84-2.8z'  stroke-width='1' stroke='none' fill='hsla(254, 25%, 10%, 1)'/><path d='m18.17 0 9.09 5.25V0Zm27.26 0v5.25L54.52 0ZM63.6 15.74 54.5 21l9.1 5.25v-10.5Zm-54.51 0v10.5L18.17 21Zm18.17 21L18.16 42h9.1zm18.17 0V42h9.06l.02-.01zM54.5 42h.01z'  stroke-width='1' stroke='none' fill='hsla(211, 33%, 19%, 1)'/><path d='M0 0v3.5l24.23 14 3.02-1.75v-3.5L6.06 0Zm33.32 0v19.24l-24.23 14v3.5l3.02 1.76 24.23-14 24.23 14 3.03-1.75v-3.5l-24.23-14V0Zm33.31 0-21.2 12.25v3.5l3.03 1.74 24.23-14v.01V0Zm6.06 10.5-3.03 1.75v28L66.62 42h6.07V10.5ZM0 10.5V42h6.05l-3.02-1.74V12.25Zm36.34 21-3.02 1.74V42h6.05v-8.75Z'  stroke-width='1' stroke='none' fill='hsla(199, 44%, 31%, 1)'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
  // background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='40' height='69.282' patternTransform='scale(2) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0, 0%, 100%, 0)'/><path d='M13.333-3.849v23.094M6.667-15.396l20 11.547M13.333-19.245l20 11.547M20 0v23.094m20-34.641l-6.667 3.849-6.666 3.849L20 0M0-11.547l6.667 3.849 6.666 3.849L20 0m0-23.094l20 11.547v23.094L20 23.094l-6.667-3.849-6.666-3.849L0 11.547v-23.094l6.667-3.849 6.666-3.849zM40-3.769L20 7.698m20-3.849l-16.253 9.384L20 15.396M6.667-7.698v23.094m6.666 50.037v23.094M6.667 53.886l20 11.547M13.333 50.037l20 11.547M20 69.282v23.094m20-34.641l-6.667 3.849-6.666 3.849L20 69.282M0 57.735l6.667 3.849 6.666 3.849L20 69.282m0-23.094l20 11.547v23.094L20 92.376l-6.667-3.849-6.666-3.849L0 80.829V57.735l6.667-3.849 6.666-3.849zm20 19.325L20 76.98m20-3.849L20 84.678M6.667 61.584v23.094m26.666-53.886v23.094m-6.666-34.641l20 11.547M33.333 15.396l20 11.547M40 34.641v23.094m20-34.641l-6.667 3.849-6.666 3.849L40 34.641M20 23.094l6.667 3.849 6.666 3.849L40 34.641m0-23.094l20 11.547v23.094L40 57.735l-6.667-3.849-6.666-3.849L20 46.188V23.094l6.667-3.849 6.666-3.849zm20 19.325L40 42.339m20-3.849L40 50.037M26.667 26.943v23.094M-6.667 30.792v23.094m-6.666-34.641l20 11.547M-6.667 15.396l20 11.547M0 34.641v23.094m20-34.641l-6.667 3.849-6.666 3.849L0 34.641m-20-11.547l6.667 3.849 6.666 3.849L0 34.641m0-23.094l20 11.547v23.094L0 57.735l-6.667-3.849-6.666-3.849L-20 46.188V23.094l6.667-3.849 6.666-3.849zm20 19.325L0 42.339m20-3.849L0 50.037m-13.333-23.094v23.094'  stroke-width='1' stroke='hsla(231, 23%, 3%, 1)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
  // background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='40' height='40' patternTransform='scale(2) rotate(45)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0, 0%, 100%, 0)'/><path d='M15 5h10v30H15zM35-5V5H5V-5zM35 35v10H5V35zM35-15h10v30H35zM55 15v10H25V15zM15 15v10h-30V15zM35 25h10v30H35zM-5 25H5v30H-5zM-5-15H5v30H-5z'  stroke-width='0.5' stroke='hsla(0, 0%, 0%, 1)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
}

// body::after {
//   content: "";
//   position: fixed;
//   top: 0;
//   left: 0;
//   z-index: -1;
//   width: 100%;
//   min-width: 100%;
//   height: 100%;
//   // background-color: red;
//   background-image: url(../../../resources/img/hero8.webp);
//   background-repeat: no-repeat;

//   background-position: center bottom;
//   background-size: cover;
//   transform: scale(1.02);
//   filter: brightness(0.8) saturate(0.6) blur(5px);
//   transition: all var(--transition-medium);
//   transition-delay: var(--transition-short);
//   transition-property: filter;
//   @include mask-image($to: bottom, $percent: 70%);
// }
// section {
//   border-top: 10px solid var(--color-dark);
// }

button,
input[type="submit"],
input[type="reset"] {
  padding: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
  outline: inherit;
  cursor: pointer;
}

// .button-big:hover,
// .button-big:hover ~ .cta__text {
//   transform: scale(1.05);
// }
// #root {
//   background-color: transparent;
//   &::before {
//     content: "";
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     min-width: 100%;
//     height: 100%;
//     background-image: url(../../../resources/img/hero8.webp);
//     background-repeat: no-repeat;

//     background-position: center bottom;
//     background-size: cover;
//     transform: scale(1.02);
//     filter: brightness(0.8) saturate(0.6) blur(5px);
//     transition: all var(--transition-medium);
//     transition-delay: var(--transition-short);
//     transition-property: filter;
//     @include mask-image($to: bottom, $percent: 70%);
//   }
// }
