@import "./variables";
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 100%;
  // outline: 1px solid red;
}
// html:focus-within {
//   scroll-behavior: smooth !important;
// }
a {
  color: inherit;
  text-decoration: inherit;
}
// html {
//   overflow: hidden;
// }

html,
body {
  position: relative;
  // font-weight: 600;
  // font-family: 'Orbitron', sans-serif;
  overflow-x: hidden;
  font-family: "Orbitron", sans-serif;
  font-family: "Jura", sans-serif;
  // font-family: "Audiowide", sans-serif;
  // transition: all var(--transition-medium) ease-in-out;
  scroll-behavior: smooth;
  // background: linear-gradient(
  //   60deg,
  //   var(--color-dark-3) 30%,
  //   var(--color-blue-shade-1) 100%
  // );
  // font-family: "Quantico", sans-serif;

  // background-color: var(--color-dark);
  // background-color: #232323;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    var(--gradient-deg),
    var(--color-dark-3) 30%,
    var(--color-blue-shade-1) 100%
  );
  filter: var(--body-grayscale);
  transition: all 3s;
  transition-property: filter;
}
body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  min-width: 100%;
  height: 100%;
  background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='29' height='50.115' patternTransform='scale(2) rotate(30)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0, 0%, 100%, 0)'/><path d='M14.498 16.858L0 8.488.002-8.257l14.5-8.374L29-8.26l-.002 16.745zm0 50.06L0 58.548l.002-16.745 14.5-8.373L29 41.8l-.002 16.744zM28.996 41.8l-14.498-8.37.002-16.744L29 8.312l14.498 8.37-.002 16.745zm-29 0l-14.498-8.37.002-16.744L0 8.312l14.498 8.37-.002 16.745z'  stroke-width='0.5' stroke='hsla(0, 0%, 0%, 1)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(-22,-18.46)' fill='url(%23a)'/></svg>");
}

// body::after {
//   content: "";
//   position: fixed;
//   top: 0;
//   left: 0;
//   z-index: -1;
//   width: 100%;
//   min-width: 100%;
//   height: 100%;
//   // background-color: red;
//   background-image: url(../../../resources/img/hero8.webp);
//   background-repeat: no-repeat;

//   background-position: center bottom;
//   background-size: cover;
//   transform: scale(1.02);
//   filter: brightness(0.8) saturate(0.6) blur(5px);
//   transition: all var(--transition-medium);
//   transition-delay: var(--transition-short);
//   transition-property: filter;
//   @include mask-image($to: bottom, $percent: 70%);
// }
// section {
//   border-top: 10px solid var(--color-dark);
// }

button,
input[type="submit"],
input[type="reset"] {
  padding: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
  outline: inherit;
  cursor: pointer;
}

// .button-big:hover,
// .button-big:hover ~ .cta__text {
//   transform: scale(1.05);
// }
// #root {
//   background-color: transparent;
//   &::before {
//     content: "";
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     min-width: 100%;
//     height: 100%;
//     background-image: url(../../../resources/img/hero8.webp);
//     background-repeat: no-repeat;

//     background-position: center bottom;
//     background-size: cover;
//     transform: scale(1.02);
//     filter: brightness(0.8) saturate(0.6) blur(5px);
//     transition: all var(--transition-medium);
//     transition-delay: var(--transition-short);
//     transition-property: filter;
//     @include mask-image($to: bottom, $percent: 70%);
//   }
// }
