*,
*::before,
*::after {
  font-size: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  color: inherit;
  text-decoration: inherit;
}

html,
body {
  background-color: var(--color-dark);
  background-color: #232323;
  // font-family: 'Audiowide', sans-serif;
  font-family: 'Orbitron', sans-serif;
  // font-weight: 600;
  // font-family: 'Orbitron', sans-serif;
  overflow-x: hidden;
  position: relative;
  scroll-behavior: smooth;
}

button,
input[type='submit'],
input[type='reset'] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
