@mixin corner-cut($pixels, $bg-color, $width, $translate) {
  clip-path: polygon(
    0% 100%,
    calc(100% - $pixels) 100%,
    100% calc(100% - $pixels),
    100% 0%,
    0% 0%
  );
  &::after {
    content: '';
    position: absolute;
    width: $width;
    height: 200%;
    transform: rotate(45deg);
    transform-origin: left bottom;
    bottom: 0;
    left: calc(100% - $translate);
    background-color: $bg-color;
  }
}

// @mixin transition($what, $time) {
//   transition: $what $time ease-in-out;
// }
