//@include corner-cut(20px, var(--color-primary), 4px, 17px);

//TODO DON'T FORGET TO SET PARENT'S POSITION TO RELATIVE!
@mixin corner-cut(
  $pixels: 20px,
  $bg-color: #00000000,
  $width: 4px,
  $translate: 17px,
  $after: ''
) {
  clip-path: polygon(
    0% 100%,
    calc(100% - $pixels) 100%,
    100% calc(100% - $pixels),
    100% 0%,
    0% 0%
  );

  position: relative;
  overflow: hidden;
  &::after {
    content: $after;
    position: absolute;
    width: $width;
    height: 200%;
    transform: rotate(45deg);
    transform-origin: left bottom;
    bottom: 0;
    left: calc(100% - $translate);
    background-color: $bg-color;
  }
}

@mixin corner-cut2(
  $pixels: 20px,
  $bg-color: #00000000,
  $width: 4px,
  $translate: 17px,
  $after: ''
) {
  clip-path: polygon(
    0% 101%,
    calc(100% - $pixels) 100%,
    100% calc(100% - $pixels),
    101% 0%,
    0% 0%
  );

  position: relative;
  &::after {
    content: $after;
    position: absolute;
    width: $width;
    height: 200%;
    transform: rotate(45deg);
    transform-origin: left bottom;
    bottom: 0;
    left: calc(100% - $translate);
    background-color: $bg-color;
  }
}
@mixin corner-cut3(
  $pixels: 20px,
  $bg-color: #00000000,
  $width: 4px,
  $translate: 17px,
  $after: ''
) {
  clip-path: polygon(
    -10% 110%,
    calc(110% - $pixels) 110%,
    110% calc(110% - $pixels),
    110% -10%,
    -10% -10%
  );
  // background-color: red;
  position: relative;
  &::after {
    content: $after;
    position: absolute;
    width: $width;
    height: 200%;
    transform: rotate(45deg);
    transform-origin: left bottom;
    bottom: 0;
    left: calc(100% - $translate);
    background-color: $bg-color;
  }
}

@mixin flexbox($justify: center, $align: center) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@mixin textglow {
  color: var(--color-primary);
  color: #fff;

  text-shadow: 0 0 4px #fff, 0 0 11px var(--color-primary),
    0 0 19px var(--color-primary), 0 0 80px var(--color-primary);
}

@mixin textglowsmall {
  color: var(--color-primary);
  color: #fff;
  text-shadow: 0 0 4px var(--color-primary), 0 0 11px var(--color-primary),
    0 0 19px var(--color-primary);
}
@mixin textglowsmaller($color: var(--color-primary)) {
  color: var(--color-primary);
  color: #fff;
  text-shadow: 0 0 4px $color, 0 0 11px $color;
}

// @mixin iconglow {
//   // color: var(--color-primary);
//   // color: #fff;
//   filter: drop-shadow(
//     0 10px 4px var(--color-primary),
//     0 10px 11px var(--color-primary),
//     0 10px 19px var(--color-primary),
//     0 10px 150px var(--color-primary)
//   ) !important;
// }
