//@include corner-cut(20px, var(--color-primary), 4px, 17px);

//TODO DON'T FORGET TO SET PARENT'S POSITION TO RELATIVE!
@mixin corner-cut(
  $pixels: 20px,
  $bg-color: #00000000,
  $width: 4px,
  $translate: 17px,
  $after: ""
) {
  // position: relative;
  overflow: hidden;
  clip-path: polygon(
    0% 100%,
    calc(100% - $pixels) 100%,
    100% calc(100% - $pixels),
    100% 0%,
    0% 0%
  );
  &::after {
    content: $after;
    position: absolute;
    bottom: 0;
    left: calc(100% - $translate);
    z-index: 9999999;
    width: $width;
    height: 200%;
    background-color: $bg-color;
    transform: rotate(45deg);
    transform-origin: left bottom;
  }
}

@mixin corner-cut2(
  $pixels: 20px,
  $bg-color: #00000000,
  $width: 4px,
  $translate: 17px,
  $after: ""
) {
  position: relative;
  clip-path: polygon(
    0% 101%,
    calc(100% - $pixels) 100%,
    100% calc(100% - $pixels),
    101% 0%,
    0% 0%
  );
  &::after {
    content: $after;
    position: absolute;
    bottom: 0;
    left: calc(100% - $translate);
    width: $width;
    height: 200%;
    background-color: $bg-color;
    transform: rotate(45deg);
    transform-origin: left bottom;
  }
}
@mixin corner-cut3(
  $pixels: 20px,
  $bg-color: #00000000,
  $width: 4px,
  $translate: 17px,
  $after: ""
) {
  // background-color: red;
  position: relative;
  clip-path: polygon(
    -10% 110%,
    calc(110% - $pixels) 110%,
    110% calc(110% - $pixels),
    110% -10%,
    -10% -10%
  );
  &::after {
    content: $after;
    position: absolute;
    bottom: 0;
    left: calc(100% - $translate);
    width: $width;
    height: 200%;
    background-color: $bg-color;
    transform: rotate(45deg);
    transform-origin: left bottom;
  }
}

@mixin flexbox($justify: center, $align: center) {
  display: flex;

  align-items: $align;
  justify-content: $justify;
}

@mixin textglow($color1: var(--color-primary), $color2: #fff) {
  // color: $color1;
  color: $color2;

  text-shadow: 0 0 4px $color2, 0 0 11px $color1, 0 0 19px $color1,
    0 0 80px $color1;
}

@mixin textglowmedium {
  color: var(--color-primary);
  color: #fff;

  text-shadow: 0 0 4px #fff, 0 0 11px var(--color-primary),
    0 0 19px var(--color-primary), 0 0 40px var(--color-primary);
}
@mixin textglowsmall($color1: var(--color-primary), $color2: #fff) {
  // color: $color1;
  color: $color2;

  text-shadow: 0 0 4px $color1, 0 0 11px $color1, 0 0 19px $color1;
}
// @mixin textglowsmall {
//   color: var(--color-primary);
//   color: #fff;
//   text-shadow: 0 0 4px var(--color-primary), 0 0 11px var(--color-primary),
//     0 0 19px var(--color-primary);
// }
@mixin textglowsmaller($color: var(--color-primary)) {
  color: var(--color-primary);
  color: #fff;
  text-shadow: 0 0 4px $color, 0 0 11px $color;
}

@mixin scrollbar($color: var(--color-primary)) {
  &::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background: transparent;
  }
  scrollbar-color: $color transparent;
  scrollbar-width: thin;
  &::-webkit-scrollbar-thumb {
    background: $color;
    border-radius: 3px;
  }
}

@mixin mask-image($to: bottom, $percent: 80%) {
  -webkit-mask-image: linear-gradient(
    to $to,
    rgba(0, 0, 0, 1) $percent,
    transparent 100%
  );
}

@mixin title-effect {
  height: 1.2em;
  font-weight: 700;
  font-size: 74px;
  font-family: "Library3amsoft", sans-serif;
  text-align: start;
  text-transform: uppercase;
  cursor: default;
  user-select: none;
  &-span {
    @for $i from 1 through 11 {
      span:nth-child(3n + #{$i}) {
        transition: all var(--transition-short);
        animation: lightpass 5s ease-in-out;
        animation-delay: calc(#{$i}ms);
      }
    }
    span:hover {
      transition: all 1ms;
      animation: lightpassshort 1.3s ease-in-out infinite;
    }
  }
  @media (max-width: $laptop) {
    // height: 82px;
    font-size: 74px;
  }
  @media (max-width: $big-tablet) {
    // height: 70px;
    font-size: 62px;
  }
  @media (max-width: $mobile) {
    // height: 50px;
    font-size: 44px;
  }

  span:global(.Typewriter__cursor) {
    display: none;
  }
}

@mixin section-text {
  flex-direction: column;
  min-height: 600px;

  @include flexbox(space-evenly);
}
