// .hidden {
//   opacity: 0;
//   transform: translateX(50vw);
// }

// .no-scroll {
//   overflow: hidden;
// }

.absolute-center {
  position: absolute;
  left: 0;
  right: 0;
  // bottom: 50%;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
}

.cancel-absolute {
  position: relative;
}

.shine {
  background-image: linear-gradient(
    -75deg,
    transparent 0,
    transparent 5%,
    rgba(255, 255, 255, 0.8) 5%,
    rgba(255, 255, 255, 0.8) 10%,
    transparent 10%,
    transparent 100%
  );
  background-size: 300% 100%;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.card--glass {
  transform: rotateY(-10deg);
  overflow: hidden;
  transform-style: preserve-3d;
  backdrop-filter: blur(10px);
}

.not-started {
  transform: rotateY(-5deg) scale(1);
  &:hover {
    transform: rotateY(-5deg);
  }

  @media (max-width: $big-tablet) {
    width: 80%;
  }

  @media (max-width: $mobile) {
    width: 100%;
  }
}

//HAMBURGER BUTTON:
.hidden-btn {
  transform: rotateY(90deg) rotateX(45deg) !important;
}
