// .hidden {
//   opacity: 0;
//   transform: translateX(50vw);
// }

// .no-scroll {
//   overflow: hidden;
// }

.absolute-center {
  position: absolute;
  right: 0;
  left: 0;
  width: 500px;
  margin-right: auto;
  // bottom: 50%;
  margin-left: auto;
}

.cancel-absolute {
  position: relative;
}

.shine {
  background-image: linear-gradient(
    -75deg,
    transparent 0,
    transparent 5%,
    rgba(255, 255, 255, 0.8) 5%,
    rgba(255, 255, 255, 0.8) 10%,
    transparent 10%,
    transparent 100%
  );
  background-size: 300% 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

// .card--glass {
//   transform: rotateY(-10deg);
//   overflow: hidden;
//   transform-style: preserve-3d;
//   // backdrop-filter: blur(10px);
// }

.not-started {
  transform: rotateY(-5deg) scale(1);
  &:hover {
    transform: rotateY(-5deg);
  }

  @media (max-width: $big-tablet) {
    width: 80%;
  }

  @media (max-width: $mobile) {
    width: 100%;
  }
}

//HAMBURGER BUTTON:
.hidden-btn {
  transform: rotateY(90deg) rotateX(45deg) !important;
}

// .max-index {
//   z-index: 99999;
// }
// .max-index-1 {
//   z-index: 99998;
// }

.shepherd-button {
  position: relative;
  z-index: 999;
  display: block;
  padding: 15px 25px;
  color: var(--color-dark);
  font-weight: 700;
  font-size: 18px;
  font-family: inherit;
  white-space: nowrap;
  text-transform: uppercase;
  background-color: var(--color-primary);
  border: none;

  border-radius: var(--border-radius);
  cursor: pointer;
  transition: all var(--transition-short), color 0.1s, text-shadow 0.1s;
  transition-property: transform, opacity, outline, filter;
  // animation: flicker2 5s infinite alternate;
  @include corner-cut2(29px, var(--color-primary), 4px, 17px);

  &::after {
    content: none;
  }

  &:hover,
  &:active {
    overflow: hidden;
    color: #fff;
    text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff,
      0 0 150px var(--color-primary);
    outline-offset: -3px;
    box-shadow: inset 0 0 0 3px #fff;
    transform: scale(1.1);
    animation: none;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: calc(100% - 33px);
      width: 3px;
      height: 200%;
      background-color: #fff;
      transform: rotate(45deg);
      transform-origin: left bottom;
      opacity: 1;
      @media (max-width: $big-tablet) {
        left: calc(100% - 24px);
      }
    }
    &:active {
      text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff,
        0 0 150px var(--color-primary);
      transform: scale(0.95);
    }
  }

  @media (max-width: $big-laptop) {
    font-size: 18px;
  }
  @media (max-width: $big-tablet) {
    .button-text {
      font-size: 18px;
    }
    @include corner-cut2(20px, var(--color-primary), 4px, 17px);
  }

  @media (max-width: $big-tablet) {
    .button-text {
      font-size: 1rem;
    }
  }

  @media (max-width: $mobile) {
    .button-text {
      font-size: 0.875rem;
    }
  }
}

.shepherd-content {
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;
  // z-index: 9999;
  background-color: rgba(177, 177, 177, 0.109);
  border: 1px solid var(--color-border-transparent);
  border-right: 7px solid var(--color-border-transparent);
  border-bottom: 5px solid var(--color-border-transparent);
  border-radius: 3px;
  transform-style: preserve-3d;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  transition: all var(--transition-short-medium);
  transition-property: transform, opacity;
  animation: tvon var(--transition-short-medium) forwards;
  @supports not (backdrop-filter: blur(20px)) {
    background-color: rgba(69, 69, 69, 0.909);
  }

  @include flexbox;
  @include corner-cut(40px, var(--color-border-transparent), 10px, 38px);
  .shepherd-header {
    display: flex;
    gap: 1.25rem;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    // border: 1px solid red;
    font-weight: 700;
    font-size: 30px;
    transform: translateY(-100px);
    animation: tvon3 var(--transition-short-medium) var(--transition-short)
      forwards;
    // @include flexbox;
    // animation: tvon2 var(--transition-short-medium) forwards;
    @include textglowsmall;
    .shepherd-cancel-icon {
      span {
        font-size: 1.5rem;
        @include textglowsmall;
      }
    }
  }
  .shepherd-text {
    font-weight: 700;
    font-size: 24px;
    transform: rotateY(-90deg);
    animation: tvon var(--transition-short-medium)
      var(--transition-short-medium) forwards;
    @include textglowsmall;
    @media (max-width: $mobile) {
      font-size: 16px;
    }
  }
  .shepherd-footer {
    display: flex;
    gap: 1rem;
    align-self: flex-end;
    transform: translateY(100px);
    animation: tvon2 var(--transition-short-medium) var(--transition-medium)
      forwards;
  }
}

.shepherd-modal-overlay-container {
  position: fixed;
  top: 0;
  // position: fixed;
  // top: 50%;
  left: 0;
  // left: 50%;
  // z-index: 997;
  width: 100vw;
  height: 0;
  overflow: hidden;
  // // position: fixed;
  // // top: 0;
  // // left: 0;
  // z-index: 9997;
  // width: 100%;
  // height: 100%;
  // transform: translateZ(0);
  // // background: rgba(11, 11, 11, 0.346);
  // transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.3s ease-out, height 0ms 0.3s, opacity 0.3s 0ms;
  pointer-events: none;
  // fill: rgba(11, 11, 11, 0.846);
}
.shepherd-modal-overlay-container.shepherd-modal-is-visible path {
  pointer-events: all;
}
.shepherd-modal-overlay-container.shepherd-modal-is-visible {
  height: 100vh;
  // transform: translateZ(0);
  opacity: 0.5;
  transition: all 0.3s ease-out, height 0s 0s, opacity 0.3s 0s;
}
// .shepherd-element {
//   z-index: 9999999;
// }
.highlight {
  color: hsl(39, 100%, 50%);
  // z-index: -99999;
  border: 2px solid white;
  transform: inherit;
}

.Typewriter {
  // position: absolute;
  // width: 100%;
  // height: 100%;
  //   .Typewriter__wrapper {
  //     height: 100%;
  //     border: 1px solid red;
  //   }
}

.fade-in {
  animation: fadein var(--transition-medium);
}
.fade-out {
  animation: fadeout var(--transition-medium) forwards;
}

.skill-flip {
  @for $i from 1 through 11 {
    div:nth-child(3n + #{$i}) {
      // background-color: var(--color-gray-tint-dark-transparent-1);
      border-right: 1px solid var(--color-border-transparent);
      border-bottom: 5px solid var(--color-border-transparent);
      border-left: 7px solid var(--color-border-transparent);

      transform: perspective(1000px)
        scale3d(1, 1, 1)
        translate3d(0, 0, 0)
        rotate3d(0, 1, 0, -180deg);
      transition: all var(--transition-short);
      animation: flip 1.2s ease-in-out forwards;
      animation-delay: calc(#{$i}00ms + #{$i}00ms);
      p,
      img {
        filter: blur(2px);
        animation: blur 1.2s ease-in-out forwards;
        animation-delay: calc(#{$i}00ms + #{$i}00ms);
      }
    }
  }
}

.glare-wrapper {
  z-index: 999;
  width: 99% !important;
  height: 98% !important;
  border-radius: 15px !important;
}
