/*
FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98]
*/
/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128]
*/

//Colors palette
//#090D20
//#14213D
//#FCA311
//#E5E5E5
//#FFFFFF

//SCSS variables
//SCREEN SIZES
$small-mobile: 396px;
$mobile: 576px;
$small-tablet: 768px;
$big-tablet: 992px;
$laptop: 1200px;
$big-laptop: 1400px;
$desktop: 1900px;
$big-desktop: 2400px;

// CSS variables

:root {
  //COLORS
  --color-primary: #fca311;
  --color-primary-transparent-1: #fca2111f;
  --color-primary-transparent-2: #fca2114d;
  --color-primary-transparent-3: #fca21185;
  --color-primary-transparent-4: #fca21140;
  --color-dark: #090d20;
  --color-dark-2: #14213d;
  --color-dark-3: rgb(26, 23, 37);
  --color-blue-shade-1: rgb(46, 95, 117);
  --color-dark-shade-1: rgb(34, 37, 54);

  --color-gray: #e5e5e5;
  --color-gray-dark: #a6a6a6;
  --color-gray-tint-dark: rgb(46, 46, 46);
  --color-gray-tint-dark-transparent-1: rgba(46, 46, 46, 0.5);
  // // --color-primary-background: #14213d;
  // --color-primary-background2: #162050;

  --color-border-transparent: rgba(255, 255, 255, 0.18);
  --color-border-transparent-1: rgba(255, 255, 255, 0.547);
  --color-border-transparent-2: rgba(128, 128, 128, 0.5);
  --color-border-transparent-3: rgba(255, 255, 255, 0.072);
  --color-border-transparent-4: rgba(255, 255, 255, 0.306);
  --color-border-transparent-5: rgba(255, 255, 255, 0.04);

  //TRANSITIONS TIMES
  --transition-short: 0.3s;
  --transition-short-medium: 0.5s;
  --transition-medium: 0.9s;
  --transition-medium-long: 1.5s;
  --transition-long: 3s;
  --transition-very-long: 8s;

  //TRANSTIONS
  --transition-all-medium: all var(--transition-medium) ease-in-out;

  //JS variables
  --characters-width: 100px;
  --body-grayscale: grayscale(0);
  --gradient-deg: 100deg;
  --saturation: saturate(0.1);
  --blur: blur(15px);
  --projects-overflow: visible;
  --mask-percent: 100%;
  //background dots
  --vmin: 5vmin 5vmin;
  --dot-opacity: 0.05;
  --bg-opacity: 0;
  --dot-position: 0% 0%;
  //BORDER RADIUS
  --border-radius: 0 10px;
  // --border-radius: 3px;

  //DYNAMIC VARIABLES
  --project-card-gap: 160px;
  @media (max-width: $big-laptop) {
    --project-card-gap: 160px;
  }
}
