@import '../../../scss/mixins.scss';
@import '../../../scss/variables.scss';
@import '../../../scss/animations.scss';

.skill {
  cursor: help;
  @include flexbox(space-between);
  flex-direction: column;
  position: relative;
  max-width: 25%;
  flex: 1 0 20%;
  border-radius: 3px;
  transition: all var(--transition-short);
  overflow: hidden;
  transition-property: transform, background-color, color, box-shadow;
  color: var(--color-primary);
  &-title {
    font-size: 12px;
    font-weight: 700;
    overflow: hidden;
    text-align: center;
    width: 110%;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 3px 0;
  }
  .icon {
    width: 100%;
    height: 70px;
    @include flexbox;
    padding: 4px;
    img {
      width: 100%;
      height: 100%;
      max-width: 100%;
      max-height: 100%;
    }
  }
}
