@import '../../../scss/mixins.scss';
@import '../../../scss/variables.scss';
@import '../../../scss/animations.scss';

.projects {
  margin-top: 8rem;

  background-color: lightgray;
  height: 100vh;
  position: relative;
  // padding: 0 100px;
  overflow: hidden;
  // overflow-y: visible;

  @include flexbox(space-around);
  flex-direction: column;
  .wrapper {
    position: relative;

    // overflow-y: hidden;
    // overflow-x: auto; // overflow-x: visible;
    // z-index: 10;
    // @include flexbox;
    // flex-direction: column;
    width: 100%;
    height: 100%;
    // width: 1600px;
    border: 1px solid red;
  }

  .title {
    text-transform: uppercase;
    font-size: 86px;
    z-index: 100;
    color: var(--color-gray);
    @include textglow;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('../../../resources/img/hero2.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 65%;
    width: 100%;
    height: 100%;
    transform: scale(1.01);
    filter: blur(2px) saturate(0.7);
  }
  .my-projects {
    // margin-bottom: 4.25rem;
    // padding: 0 7rem;
    position: relative;
    padding-top: 3rem;
    // position: absolute;
    // top: 0;
    // left: 0;
    // right: 0;
    // bottom: 0;
    // overflow-x: clip;
    // overflow-x: hidden;
    // overflow-y: scroll;
    // overflow-y: scroll;
    overflow-y: hidden;
    overflow-x: scroll;
    // white-space: nowrap;
    // height: 100%;
    // height: fit-content;
    // width: 1000px;

    width: 100%;
    // height: 700px;
    // max-width: 1000px;
    // flex: 1 0 400px;

    // border: 1px solid red;
    // background-color: rgba(255, 0, 0, 0.249);
    // @include flexbox;
    // flex: 1 0 400px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    // grid-template-columns: minmax(0, 1fr) 400px;
    min-width: 0;
    align-items: center;
    justify-content: center;
    // white-space: nowrap;
    // overflow: auto;
    // justify-self: center;
    // display: inline-flex;
    // flex-direction: row-reverse;

    // display: grid;
    // grid-template-columns: repeat(auto-fit, minmax(10px, max-content));

    // overflow-x: scroll;

    // flex: 0 0 300px;
    // display: inline-flex;
    // min-height: 0;
    // & .scene:nth-child(1) {
    //   z-index: 3;
    //   left: 5%;
    // border: 1px solid red;
    // }
    // & .scene:nth-child(2) {
    //   z-index: 2;
    //   left: 30%;
    // }
    // & .scene:nth-child(3) {
    //   z-index: 1;
    //   left: 55%;
    // }
    // width: 500px;
    // height: 500px;
    // white-space: nowrap;
    // position: relative;
    // overflow-x: scroll;
    // overflow-y: hidden;
    // -webkit-overflow-scrolling: touch;
    // z-index: 10;
    // display: inline-flex;
    //TODO remove scene

    .scene {
      min-height: 0;
      // position: absolute;
      position: relative;

      // width: 100%;
      @include flexbox;

      width: 450px;

      min-width: 450px;
      height: 100%;

      perspective: 400px;
      transform-origin: 50%;
      transform: scale(0.7);

      transition: all var(--transition-short-medium);
      transition-property: transform, perspective;
      // margin-right: -13.5rem;
      z-index: 5;
      will-change: transform;
      animation: zindexback 1s forwards;
      &:hover {
        // z-index: 10 !important;
        position: relative;
        animation: zindex 100s 0.4s forwards;
      }
    }
    // & .scene {
    // transition: all var(--transition-short-medium);
    // &:hover {
    //   animation: zindex 1s 1s forwards;
    // }
    // }
    // & .scene:not(:last-child) {
    //   margin-right: -10rem;
    // }
    //TODO
    // & div:last-child > .project:hover {
    //   transform: scale(1.3) translateX(0px) rotateY(0deg) !important;
    // }
    .project-wrapper {
      height: fit-content;
      width: fit-content;

      // width: fit-content;
      // min-width: min-content;
      // border: 1px solid red;
      position: relative;
      // overflow-y: hidden;
      // padding: 3rem 0;
      // padding: -1rem;

      // margin-right: -13rem;
      transform-origin: 80%;
      transition: all var(--transition-short-medium);
      transition-property: transform;
      // display: inline-block;
      backdrop-filter: blur(20px);
      // display: inline-block;
      // @include flexbox(flex-start);
      @include corner-cut(50px);
      &:hover {
        //TODO

        transform: perspective(500px) scale(1) translateX(100px) rotateY(-15deg) !important;
        // transition: all var(--transition-short-medium);

        // animation: cardslide 0.7s 0.6s forwards, zindex 100s 0.4s forwards;
        // animation: test 0.8s forwards;

        .project-title {
          @include textglowsmall;
        }
      }
      &:nth-child(1) {
        z-index: 10;
      }
      &:nth-child(2) {
        z-index: 9;
      }
      &:nth-child(3) {
        z-index: 8;
      }
      &:nth-child(4) {
        z-index: 7;
      }
      &:nth-child(5) {
        z-index: 6;
      }
    }
    .project {
      // border: 1px solid red;

      // height: 65vh;
      // height: 100%;
      // min-width: 30vw;
      // width: 100%;
      width: 400px;
      height: 700px;

      // position: absolute;
      backdrop-filter: blur(20px);
      // font-family: 'Jura', sans-serif;
      // transform-origin: right center;

      font-family: 'Orbitron', sans-serif;
      position: relative;
      display: grid;
      grid-template-rows: 1fr 3fr;
      // min-width: 600px;
      // width: 550px;
      // width: 100%;
      // margin-right: -16rem;

      // aspect-ratio: 3/1;
      // transform: scale(1.2) rotateY(-15deg);
      // transform: scale(1) rotateY(-15deg);

      // animation: cardslideback 1s 0.4s forwards;
      transition: all var(--transition-short-medium);
      transition-property: transform;
      // transition-delay: 0.3s;
      //TODO bckp
      // &:hover {
      //   //TODO

      //   transform: scale(1.03) translateX(50px) rotateY(0deg);
      //   // transition: all var(--transition-short-medium);

      //   // animation: cardslide 0.7s 0.6s forwards, zindex 100s 0.4s forwards;
      //   // animation: test 0.8s forwards;

      //   .project-title {
      //     @include textglowsmall;
      //   }
      // }

      @include corner-cut(40px, rgba(255, 255, 255, 0.18), null, 43px);
      .project-image-window {
        @include corner-cut(50px);
        position: relative;
      }
      .project-link {
        display: block;
      }

      &-image {
        transform-style: preserve-3d;
        width: 100%;
        height: 100%;
        // padding: 1rem;
        position: relative;
        filter: brightness(0.9);
        transition: var(--transition-short);
        // @include corner-cut(50px);
        &:hover {
          filter: brightness(1.1);
        }
      }

      &-description {
        padding: 0 1rem 2rem 1rem;
        height: 100%;
        overflow: hidden;

        @include flexbox(space-between);
        flex-direction: column;
      }
      .project-title {
        font-weight: 700;
        grid-area: 1 / 1 / 2 / 2;
        align-self: flex-end;
        text-transform: uppercase;
        font-size: 36px;
        padding: 0.75rem 2rem;
        margin-right: -1rem;
        transition: all var(--transition-short);
        transition-property: text-shadow, color;
      }
      .project-overview {
        grid-area: 2 / 1 / 3 / 2;
        text-align: left;
        font-size: 20px;
        line-height: 1.5;
        padding: 0 1rem 1rem 1rem;
        // cursor: pointer;
        @include flexbox;
        p {
          display: inline-block;
          height: auto;
          color: var(--color-dark);
        }
      }

      .used-skills {
        position: relative;
        width: 100%;

        @include flexbox(center, flex-end);

        flex-wrap: wrap;

        box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.5);
      }
      @media (max-width: $big-tablet) {
        min-width: 50vw;
        height: 65vh;
      }
    }
  }
}

.selected-project {
  transform: perspective(1000px) !important;
}

.used-skills-title {
  align-self: flex-start;
  font-size: 24px;
}
.links {
  @include flexbox(flex-start, flex-start);

  gap: 1rem;
  z-index: 10;
  top: 0;
  left: 0rem;
  width: 130px;
  height: 130px;

  background-color: rgba(0, 0, 0, 0.788);
  @include corner-cut(140px);
  position: absolute;
  a {
    padding: 6px;
    width: 70px;
    height: 70px;

    filter: invert(1);
    img {
      transition: all var(--transition-short);
      transition-property: transform;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

.skill {
  @include flexbox(flex-end);
  flex-direction: column;
  // display: flex;
  // border: 1px solid red;
  gap: 0.5rem;
  flex: 0 1 20%;
  width: 0;
  min-height: 50%;
  // width: 70px;
  // height: 60px;
  // height: 50%;
  // max-width: 20%;
  // max-height: 50%;

  // height: 50%;

  padding: 6px;

  transition: all var(--transition-short);

  transition-property: transform, background-color, color;
  @include corner-cut(0.625rem);
  color: var(--color-primary);
  &:hover {
    background-color: var(--color-gray);
    box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    transform: scale(1.1);
    z-index: 999;
  }
  &:hover &-title {
    word-break: keep-all;
    color: black;
  }
  &-title {
    // display: inline-flex;
    // align-self: flex-end;
    // justify-self: flex-end;
    font-size: 12px;
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    width: 115%;
    // display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;

    // border: 1px solid red;
  }

  img {
    width: 100%;
    max-width: 100%;
  }
}
