// @import "../../../scss/mixins.scss";
// @import "../../../scss/variables.scss";
// @import "../../../scss/animations.scss";
@import "../../../scss/style.scss";

.skill {
  position: relative;
  flex: 1 0 20%;
  flex-direction: column;
  max-width: 25%;
  overflow: hidden;
  color: var(--color-primary);
  border-radius: 3px;
  // cursor: default;
  transition: all var(--transition-short);
  transition-property: transform, background-color, color, box-shadow;
  @include flexbox(space-between);
  &-title {
    width: 110%;
    padding: 3px 0;
    overflow: hidden;
    overflow: hidden;
    font-weight: 700;
    font-size: 12px;
    text-align: center;
    text-overflow: ellipsis;
  }
  .icon {
    width: 100%;
    height: 70px;
    padding: 4px;
    @include flexbox;
    img {
      width: 100%;
      max-width: 100%;
      height: 100%;
      max-height: 100%;
    }
  }
}
