@import '../../../scss/mixins.scss';
@import '../../../scss/variables.scss';
@import '../../../scss/animations.scss';

.projects {
  // margin-top: 8rem;
  background-color: #232323;
  height: 100vh;
  position: relative;
  overflow: hidden;
  @include flexbox(space-around);
  flex-direction: column;

  .title {
    text-transform: uppercase;
    padding-top: 4rem;
    font-size: 5.375rem;
    z-index: 100;
    color: var(--color-gray);
    @include textglow;
    @media (max-width: $big-tablet) {
      font-size: 4.625rem;
    }
    @media (max-width: $small-tablet) {
      font-size: 3.875rem;
    }
    @media (max-width: $mobile) {
      font-size: 2.75rem;
    }
    @media (max-width: $small-mobile) {
      font-size: 2.25rem;
    }
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('../../../resources/img/hero2.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 65%;
    width: 100%;
    height: 100%;
    filter: blur(2px) saturate(0.7);
  }
  .my-projects {
    @include flexbox;
    position: relative;
    overflow-x: scroll;
    justify-content: safe flex-start;
    min-width: 100%;
    width: 100%;
    flex-flow: row nowrap;
    scroll-behavior: smooth;
    @include scrollbar;

    & > div:last-child {
      margin-right: 12rem;
    }

    @media (max-width: $small-tablet) {
      scroll-snap-type: x proximity;
    }
  }
}
