@import '../../../scss/mixins.scss';
@import '../../../scss/variables.scss';
@import '../../../scss/animations.scss';

.project-wrapper {
  scroll-snap-align: center;
  margin-right: -12rem;
  min-width: 390px;
  max-width: 450px;
  position: relative;
  transition: all var(--transition-short-medium);
  transition-property: transform;
  backdrop-filter: blur(20px);
  @include corner-cut(40px, rgba(255, 255, 255, 0.18), 10px, 38px);

  &:hover {
    transform: perspective(500px) scale(1) translateX(var(--project-card-gap))
      rotateY(-15deg) !important;
    .project-title {
      @include textglowsmall;
    }
  }
  &:hover:first-child {
    transform: perspective(500px) scale(1) translateX(0) rotateY(0deg) !important;
  }
  &:nth-child(1) {
    z-index: 10;
  }
  &:nth-child(2) {
    z-index: 9;
  }
  &:nth-child(3) {
    z-index: 8;
  }
  &:nth-child(4) {
    z-index: 7;
  }
  &:nth-child(5) {
    z-index: 6;
  }

  &.selected-project:hover {
    transform: perspective(1000px) scale(1) translateX(35%) rotateY(0deg) !important;
  }

  &.selected-project {
    transform: perspective(1000px) scale(1) translateX(35%) !important;
    animation: zindex 100s forwards;
  }
}

.project {
  user-select: none;
  aspect-ratio: 1/1.7;
  min-width: 350px;
  font-family: 'Orbitron', sans-serif;
  position: relative;
  display: grid;
  grid-template-rows: 1fr 2fr;
  transition: all var(--transition-short-medium);
  transition-property: transform;
  backdrop-filter: blur(20px);

  .project-image-window {
    @include corner-cut(30px);
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    a {
      height: 100%;
      min-width: 100%;
      min-height: 100%;
    }
  }
  .project-link {
    display: block;
  }

  &-image {
    transform-style: preserve-3d;
    width: 100%;
    height: 100%;
    position: relative;
    filter: brightness(0.9);
    transition: var(--transition-short);
    &:hover {
      filter: brightness(1.05);
      transform: scale(1.1);
    }
  }

  &-description {
    padding: 6px 6px;
    height: 100%;
    overflow: hidden;
    display: grid;
    cursor: pointer;
    grid-template-rows: 0.5fr 1fr 1fr;
  }
  .project-title {
    font-weight: 700;
    justify-self: end;
    align-self: center;
    text-transform: uppercase;
    font-size: 32px;
    padding: 6px 24px;
    margin-right: -1rem;
    text-align: end;
    transition: all var(--transition-short);
    transition-property: text-shadow, color;
  }
  .project-overview {
    text-align: left;
    font-size: 1.5rem;
    line-height: 1.5;
    padding: 0 6px;
    cursor: pointer;
    @include flexbox;
    p {
      display: inline-block;
      height: auto;
      color: var(--color-dark);
    }
    @media (max-width: 1600px) {
      font-size: 1.25rem;
    }
    @media (max-width: $big-tablet) {
      font-size: 1.125rem;
    }
  }

  .used-skills {
    position: relative;
    width: 100%;
    height: 100%; // height: fit-content;
    height: 200px;
    @include flexbox(center, flex-end);
    // @include corner-cut3(80px);

    flex-wrap: wrap;

    align-content: center;
    background-color: rgba(0, 0, 0, 0.2);
    // box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.5);
  }
}
.used-skills-title {
  align-self: flex-end;
  padding-left: 1rem;
  padding-bottom: 1rem;
  font-size: 24px;
}
.links {
  @include flexbox(flex-start, flex-start);
  gap: 1rem;
  z-index: 10;
  top: 0;
  left: 0rem;
  width: 130px;
  height: 130px;

  background-color: rgba(0, 0, 0, 0.788);
  @include corner-cut(140px);
  position: absolute;

  a {
    padding: 6px;
    width: 70px;
    height: 70px;

    filter: invert(1);
    img {
      transition: all var(--transition-short);
      transition-property: transform;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

.skill {
  // * {
  //   border: 1px solid red;
  // }
  // border: 1px solid red;
  cursor: help;
  @include flexbox(space-between);
  flex-direction: column;
  position: relative;
  // height: 50%;
  max-width: 25%;
  // min-height: 100%;
  flex: 1 0 20%;

  border-radius: 3px;
  transition: all var(--transition-short);
  overflow: hidden;
  transition-property: transform, background-color, color, box-shadow;
  // @include corner-cut(0.625rem);

  color: var(--color-primary);
  &:hover {
    background-color: var(--color-gray);
    box-shadow: 0px 0px 10px 0px var(--color-gray);
    transform: scale(1.1);
    z-index: 999;
    // &::before {
    //   content: '';
    //   position: absolute;
    //   top: 0;
    //   left: 0;
    //   height: 100%;
    //   width: 100%;
    //   box-shadow: 0px 0px 10px 0px var(--color-gray);
    // }
  }
  &:hover &-title {
    word-break: keep-all;
    color: black;
  }
  &-title {
    font-size: 12px;
    font-weight: 700;
    // white-space: nowrap;
    overflow: hidden;
    text-align: center;
    width: 110%;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 3px 0;
    // @include flexbox;
  }
  .icon {
    width: 100%;
    height: 70px;
    @include flexbox;
    // position: relative;
    // aspect-ratio: 1/1;
    // background-color: red;
    // border: 1px solid gold;
    padding: 4px;
    img {
      width: 100%;
      height: 100%;
      max-width: 100%;
      max-height: 100%;
    }
  }
}
