// @import "../../scss/variables.scss";
// @import "../../scss/animations.scss";
// @import "../../scss/mixins.scss";
// @import "../../scss/globals.scss";
@import "../../scss/style.scss";

.button-primary {
  position: relative;
  z-index: 999;
  display: block;
  min-width: 15.625rem;
  padding: 20px 30px;
  color: var(--color-dark);

  font-weight: 700;
  font-size: 1.5rem;
  font-family: inherit;
  white-space: nowrap;
  text-transform: uppercase;
  background-color: var(--color-primary);
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: all var(--transition-short), color 0.3s, box-shadow 0.1s;
  // transition-property: transform, opacity, outline, filter, border, box-shadow;
  animation: flicker2 5s infinite alternate;
  // @include corner-cut2(29px, var(--color-primary), 4px, 17px);

  &::after {
    content: none;
  }

  &:hover,
  &:active {
    overflow: hidden;
    color: #fff;
    text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff,
      0 0 150px var(--color-primary);
    outline-offset: -3px;
    box-shadow: inset 0 0 0 3px #fff;

    animation: none;

    // &::after {
    //   content: "";
    //   position: absolute;
    //   bottom: 0;
    //   left: calc(100% - 33px);
    //   width: 3px;
    //   height: 200%;
    //   background-color: #fff;
    //   transform: rotate(45deg);
    //   transform-origin: left bottom;
    //   opacity: 1;
    //   @media (max-width: $big-tablet) {
    //     left: calc(100% - 24px);
    //   }
    // }
    &:active {
      text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff,
        0 0 150px var(--color-primary);
      transform: scale(0.95);
    }
  }

  @media (max-width: $big-laptop) {
    font-size: 24px;
  }
  @media (max-width: $big-tablet) {
    font-size: 20px;

    // @include corner-cut2(20px, var(--color-primary), 4px, 17px);
  }

  @media (max-width: $big-tablet) {
    font-size: 1rem;
  }

  @media (max-width: $mobile) {
    font-size: 14px;
  }
}

.button-big:hover,
.button-big:hover ~ .cta__text {
  transform: scale(1.05);
}

.absolute {
  position: absolute;
  top: 80%;
  right: 0;
  left: 0;
  width: fit-content;
  margin-right: auto;
  margin-left: auto;
}

.greyed-out {
  z-index: 999;
  outline: none;
  transform: none !important;
  filter: grayscale(1) brightness(0.5);
  transition: none;
  animation: none;
  &::after {
    display: none;
  }
  &:hover,
  &:active {
    color: var(--color-dark);
    text-shadow: none;
    border: none;
    box-shadow: none;
    transform: none;
    cursor: not-allowed;
    &:active {
      text-shadow: none;
      transform: none;
    }
  }
  a {
    pointer-events: none;
  }
}
