@import '../../scss/variables.scss';
@import '../../scss/mixins.scss';

.button-big {
  display: inline;
  font-family: inherit;
  position: relative;
  background-color: var(--color-primary);
  color: var(--color-dark);
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
  border: none;

  cursor: pointer;
  transition: all var(--transition-short) ease-out, color 0.1s ease-out,
    text-shadow 0.1s ease-out;
  transition-property: transform, opacity, outline;
  z-index: 10;
  animation: flicker2 5s infinite alternate;
  @include corner-cut(28px, var(--color-primary), 4px, 17px);

  &::after {
    content: none;
  }
  .button-text {
    font-weight: 700;
    padding: 30px 55px;
    display: inline-block;
    width: 100%;
    height: 100%;
  }

  &:hover,
  &:active {
    // outline: 3px solid #fff;
    box-shadow: inset 0 0 0 3px #fff;
    outline-offset: -3px;
    color: #fff;

    text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff,
      0 0 150px var(--color-primary);
    // text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff,
    //   0 0 40px var(--color-primary), 0 0 80px var(--color-primary),
    //   0 0 90px var(--color-primary), 0 0 100px var(--color-primary),
    //   0 0 150px var(--color-primary);
    animation: none;
    // & ~ .cta__text {
    //   transition: all var(--transition-short) ease-out, color 0.1s ease-out,
    //     text-shadow 0.1s ease-out;
    //   transition-property: transform, opacity;
    //   background-color: var(--color-primary);
    //   animation: shine4 7s ease-in-out;
    // }

    &::after {
      content: '';
      opacity: 1;
      position: absolute;
      width: 3px;
      height: 200%;
      transform: rotate(45deg);
      transform-origin: left bottom;
      bottom: 0;
      left: calc(100% - 33px);
      background-color: #fff;
      // animation: pxmove var(--transition-short) ease-in;
    }
    &:active {
      transform: scale(0.95);
      text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff,
        0 0 150px var(--color-primary);
    }
  }

  @media (max-width: $laptop) {
    font-size: 30px;
  }

  @media (max-width: $mobile) {
    padding: 25px 10px;
    font-size: 24px;
    width: 90vw;
  }
}

.button-big:hover,
.button-big:hover ~ .cta__text {
  transform: scale(1.1);
}

.absolute {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  // & .bottom {
  //   bottom: 20%;
  // }
}

// .submit-button {
//   border: none;
//   outline: none;
//   // color: red;
//   border: 1px solid red;
// }
