@import '../../scss/variables.scss';
@import '../../scss/animations.scss';
@import '../../scss/mixins.scss';
@import '../../scss/globals.scss';

.button-big {
  display: block;
  font-family: inherit;
  position: relative;
  background-color: var(--color-primary);
  color: var(--color-dark);
  font-size: 1.5rem;
  text-transform: uppercase;
  border: none;
  z-index: 999;

  border-radius: var(--border-radius);
  cursor: pointer;
  transition: all var(--transition-short-medium) ease-out, color 0.1s ease-out,
    text-shadow 0.1s ease-out;
  transition-property: transform, opacity, outline;
  @include corner-cut2(29px, var(--color-primary), 4px, 17px);

  &::after {
    content: none;
  }
  .button-text {
    animation: flicker2 5s infinite alternate;
    font-weight: 700;
    padding: 20px 30px;
    white-space: nowrap;
    display: block;
    width: 100%;
    height: 100%;
  }

  &:hover,
  &:active {
    box-shadow: inset 0 0 0 3px #fff;
    outline-offset: -3px;
    color: #fff;
    overflow: hidden;
    text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff,
      0 0 150px var(--color-primary);

    .button-text {
      animation: none;
    }
    &::after {
      content: '';
      opacity: 1;
      position: absolute;
      width: 3px;
      height: 200%;
      transform: rotate(45deg);
      transform-origin: left bottom;
      bottom: 0;
      background-color: #fff;
      left: calc(100% - 33px);
      @media (max-width: $big-tablet) {
        left: calc(100% - 24px);
      }
    }
    &:active {
      transform: scale(0.95);
      text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff,
        0 0 150px var(--color-primary);
    }
  }

  @media (max-width: $big-laptop) {
    font-size: 24px;
  }
  @media (max-width: $big-tablet) {
    .button-text {
      font-size: 1.25rem;
    }
    @include corner-cut2(20px, var(--color-primary), 4px, 17px);
  }

  @media (max-width: $big-tablet) {
    .button-text {
      font-size: 1rem;
    }
  }

  @media (max-width: $mobile) {
    .button-text {
      font-size: 0.875rem;
    }
  }
}

.button-big:hover,
.button-big:hover ~ .cta__text {
  transform: scale(1.05);
}

.absolute {
  position: absolute;
  top: 80%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

.greyed-out {
  animation: none;
  z-index: 999;
  transition: none;
  transform: none !important;
  filter: grayscale(1) brightness(0.5);
  outline: none;
  &::after {
    display: none;
  }
  &:hover,
  &:active {
    color: var(--color-dark);
    text-shadow: none;
    cursor: not-allowed;
    transform: none;
    border: none;
    box-shadow: none;
    &:active {
      transform: none;
      text-shadow: none;
    }
  }
  a {
    pointer-events: none;
  }
}
