// @import "../../scss/mixins.scss";
// @import "../../scss/variables.scss";
// @import "../../scss/utility.scss";
@import "../../scss/style.scss";

.card--glass {
  flex-direction: column;
  // border-radius: 3px;
  background-color: rgba(47, 48, 56, 0.982);
  // background-color: rgba(67, 74, 73, 0.909);
  // background-color: rgba(95, 95, 95, 0.109);
  border: 1px solid var(--color-border-transparent);
  border-right: 7px solid var(--color-border-transparent);
  border-bottom: 5px solid var(--color-border-transparent);
  border-radius: 20px;
  transform-style: preserve-3d;

  transition: all var(--transition-short-medium);
  transition-property: transform, opacity;

  // @supports not (backdrop-filter: blur(20px)) {
  //   background-color: rgba(67, 74, 73, 0.909);
  // }
  // @media (min-width: $big-tablet) {
  //   -webkit-backdrop-filter: blur(20px);
  //   backdrop-filter: blur(20px);
  //   // backdrop-filter: none;
  // }
  // @media (max-width: calc($big-tablet - 1px)) {
  //   background-color: #2d2f3be6;

  //   // backdrop-filter: none;
  // }
}
.corner {
  @include corner-cut(40px, var(--color-border-transparent), 10px, 38px);
}
