// @import "../../scss/mixins.scss";
// @import "../../scss/variables.scss";
// @import "../../scss/utility.scss";
@import "../../scss/style.scss";

.card--glass {
  flex-direction: column;
  background-color: rgba(95, 95, 95, 0.109);
  border: 1px solid var(--color-border-transparent);
  border-right: 7px solid var(--color-border-transparent);
  border-bottom: 5px solid var(--color-border-transparent);
  border-radius: 20px;
  // border-radius: 3px;

  transform-style: preserve-3d;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  transition: all var(--transition-short-medium);
  transition-property: transform, opacity;

  @supports not (backdrop-filter: blur(20px)) {
    background-color: rgba(67, 74, 73, 0.909);
  }
  // @media (max-width: $big-tablet) {
  //   background-color: rgba(50, 55, 54, 0.909);
  //   // backdrop-filter: none;
  // }
}
.corner {
  @include corner-cut(40px, var(--color-border-transparent), 10px, 38px);
}
