@import '../../scss/style.scss';
.card--glass {
  // border: 1px solid rgba(255, 255, 255, 0.18);
  // border-right: 7px solid rgba(255, 255, 255, 0.18);
  // max-width: 500px;
  min-height: 300px;
  width: 100%;
  height: 100%;
  // height: 50%;
  // transform-style: preserve-3d;
  // transform: rotateY(-50deg);
  // perspective: 400px;
  transform-style: preserve-3d;
  @include flexbox;
  flex-direction: column;
  // gap: 2.25rem;
  // padding: 36px;
  transition: all var(--transition-short-medium) ease-in-out;
  transition-property: transform, opacity;
  position: relative;
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-right: 7px solid rgba(255, 255, 255, 0.18);
  transform-origin: 5%;
  background-color: rgba(95, 95, 95, 0.109);

  @include corner-cut(100px, rgba(255, 255, 255, 0.18), 10px, 98px);
}
