// @import "../../scss/mixins";
// @import "../../scss/variables";
@import "../../scss/style.scss";

.spinner {
  width: 100%;
  height: 100%;
  color: #ffffff;
  font-weight: 700;
  font-size: 3.25rem;
  text-transform: uppercase;
  @include textglow;
  @include flexbox;
  .wrapper {
    display: inline-block;
    width: 18.75rem;
    text-align: left;
  }
}
