@import '../../scss/mixins';
@import '../../scss/variables';

.info {
  z-index: 9999999;
  position: absolute;
  height: 150px;
  width: 100%;
  height: 100%;
  font-size: 12px;
  font-weight: 600;
  @include textglowsmall;
  pointer-events: none;
  transform: translateY(140px);
  transition: transform var(--transition-short);
  @include flexbox;
  gap: 6px;
  .icon-title {
    @include flexbox;
    gap: 6px;
    flex: 0 0 auto;
    height: 100%;
    max-width: 100px;
    width: 100px;
    flex-direction: column;
    flex-basis: 100px;
    padding: 6px;
    img {
      width: 80%;
      height: 80%;
    }
  }
  .title {
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    @media (max-width: $mobile) {
      font-size: 10px;
    }
  }
  .description {
    text-align: start;
    @media (max-width: $mobile) {
      font-size: 10px;
    }
  }
}

.tooltip-open {
  transform: translateY(0px);
}
