@import '../../scss/mixins';
@import '../../scss/variables';

.tooltip-wrapper {
  // position: absolute;
  // visibility: hidden;
  // overflow: visible;
}
.tooltip {
  position: relative;
  width: 100%;
  height: 50%;
  // border: 1px solid red;
  font-size: 12px;
  grid-column: 1/3;
  grid-row: 2/4;
  align-self: start;
  padding: 0 0.5rem;
}
